[2012-02-04 18:38] sasezaki opened #26 ""classMemberAccessOnInstantiation" mistake detecting?"
Hi, I installed php-compat-info ver 2.2.1.
currently, seems to be detecting as "class member access on instantiation" incorrectly.

sample code is here.

[code]

output:

[code]

( I found this issue at investigation of Zend Framework2.)

[code]

[2012-02-07 13:45] #26 closed, assigned to nobody

[2012-02-13 11:37] remicollet opened #27 "arrayDereferencing issue"
Simple code

$a = $b[a()][b()];

wrongly detects arrayDereferencing (so php >= 5.4.0)

[2012-02-13 13:37] #27 closed, assigned to nobody

[2012-02-14 17:50] llaville opened #28 "classMemberAccessOnInstantiation detection error"
Code found on Christian Weiske PEAR XML_XRD proposal ( http://pear.php.net/pepr/pepr-proposal-show.php?id=674 )

[code]

wrongly detects classMemberAccessOnInstantiation (so php >= 5.4.0)

This issue affect PHP_CompatInfo 2.2.0 to 2.2.3

[2012-02-14 17:59] #28 closed, assigned to nobody

[2012-02-15 14:00] llaville opened #29 "inconsistent magic constants detection on PHP 5.2, 5.3 and 5.4"
Printing constant report of PHPCI with different PHP versions (5.2.x, 5.3.x, and 5.4.x) gave different results.

For example :

[code]

___ DIR ___ constant will be parsed as T_STRING token for PHP 5.2, and parsed as T_DIR token for PHP 5.3 and 5.4

So, running this command

[code]

Gave this result in PHP 5.2

[code]

And gave this result with PHP 5.3 and 5.4

[code]

[2012-02-15 15:10] #29 closed, assigned to nobody

[2012-04-25 22:01] vrana opened #34 "Remove false positive on A::CONST_NAME"
This file reports that it requires PHP 5.2.7:

[code]

[2012-04-25 22:10] vrana opened #35 "Detect function_exists(), defined() and such"
Version 1 documentation declares support of this feature: http://pear.php.net/manual/en/package.php.php-compatinfo.summary.features.php

Version 2 documentation doesn't say so: http://php5.laurent-laville.org/compatinfo/manual/2.1/en/index.html#_features

It would be nice to have this feature back.

I'm not sure if this code can be used for it: https://github.com/llaville/php-compat-info/blob/mast

[2012-05-21 17:57] remicollet opened #37 "cache content depends on installed extension."
When a new PHP extension are installed, a new analysis will use cache and will not report the dependency of the newly installed extension.

Ex:

---
## $ phpci print --recursive --report extension Form-2.0.14/Symfony

  Core                                                    4.0.0             309
  SPL                                                0.2  5.0.0               5
  ctype

[2012-06-05 13:50] #37 closed, assigned to nobody

[2012-06-10 07:30] remicollet opened #38 "type hinting in function prototype"
When a function use class type hinting, this should be reported

Ex :
public function __construct(PDO $db)

Should report php-pdo extension and PDO class.

[2012-06-10 07:52] remicollet opened #39 "class not detected and bad version"
in
$a = new \foo();
$b = new bar()

Only "bar" is reported

N.B. this should be reported as requiring php >= 5.3.0 because of namespace use.
## Current report

A TOTAL OF
 1 CLASSE(S) 1 FUNCTION(S)
WERE FOUND IN 1 FILE(S)
## REQUIRED PHP 4.0.0 (MIN)

[2012-06-10 07:55] remicollet opened #40 "ambiguous class report"
Sample :
namespace foo;
class bar extends \PDO {
}

Report
  \PDO                                                    5.3.0               1
  bar                                                     5.3.0               1

Shouldn't \PDO report as PDO ?
Shouldn't bar report as foo\bar ?

[2012-06-24 16:41] #34 closed, assigned to nobody

[2012-06-25 22:58] #35 closed, assigned to nobody

[2012-07-17 07:36] #38 closed, assigned to nobody

[2012-07-22 15:59] #40 closed, assigned to nobody

[2012-07-22 16:02] #39 closed, assigned to nobody

[2012-11-08 08:14] remicollet opened #51 "unusable report file"
When using print, with --full,  --recursive and --report-file option, the result file contains the progress information, which make it nearly unusable.

[2012-11-12 08:31] #51 closed, assigned to nobody

[2012-11-28 19:08] llaville opened #53 "prepare version and documentation"
My TODO list is opened

[2012-12-04 15:47] llaville opened #54 "Cannot generate documentation with missing UML diagrams pictures"
Since [1] I've implemented the UML diagrams build on fly facility with asciidoc-plantuml filter [2] :
- asciidoc.py can generate the picture from source texte file
- a2x toolchain wrapper cannot used the picture generate by the asciidoc-plantuml filter

The reason that a2x tried to search in the source input file directory, while the UML diagrams pictures was written in (output.dir)/ images

Tempo

[2012-12-04 16:06] #54 closed, assigned to llaville

[2012-12-08 09:01] trasher opened #55 "Command line iniSet option ignored"
Hello,

Using  php-compat-info 2.10.0 with php 5.4.9; I'm trying to execute the following:
$ phpci -d memory_limit=512M -d date.timezone=UTC print --report extension --recur tcpdf_5.9.165

And I actually obtain:
Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 72 bytes) in /usr/share/pear/Bartlett/PHP/Reflect.php on line 316

Looks like my "memory_limit" is being ig

[2012-12-10 19:38] #55 closed, assigned to llaville

[2012-12-21 10:50] #53 closed, assigned to llaville

[2012-12-27 13:59] staabm opened #56 "References in foreach are not considered"
phpci reports php4.1 for the following file
https://github.com/redaxo/redaxo4/blob/4.4.1/redaxo/include/addons/textile/classes/class.textile.inc.php

Since this file uses a call-by-ref inside a foreach-loop, see https://github.com/redaxo/redaxo4/blob/4.4.1/redaxo/include/addons/textile/classes/class.textile.inc.php#L1543, this is not correct.

It should be something arround php5.x

[2012-12-27 14:53] llaville opened #57 "prepare version and documentation"
My TODO list is opened

[2012-12-27 15:01] llaville opened #58 "improve the extension report render"
extension report should not display the 0.0 version when extension has none version number

[code]

Actual result :

[code]

Expected result :

[code]

[2012-12-27 15:09] llaville opened #59 "Improve the global report render"
It is a non sense to display such global report :

[code]

We should have this expected result :

[code]

The minimum/maximum Extension versions must be displayed only for reports that show the `EXT min/Max`  column

[2012-12-27 15:22] llaville opened #60 "Replace the git RCS keywords at packaging time"
This will allow to improve identification of the latest file version.

For example we will have :

[code]

Rather than just :

[code]

A phing build file will do the job with an enhance version of PearPackageFileSet typedef [1]

[1] https://github.com/phingofficial/phing/pull/174

[2012-12-31 08:43] remicollet opened #61 "Bad namespace in full report"
See, for example : https://bugzilla.redhat.com/attachment.cgi?id=670366

There is a lot of part where namespace appear when it sould not

function :

[code]

Constant:

[code]

Global:

[code]

Token:

[code]

[2013-01-07 09:39] #58 closed, assigned to llaville

[2013-01-07 09:51] #59 closed, assigned to llaville

[2013-01-07 15:41] #61 closed, assigned to llaville

[2013-01-14 14:23] #60 closed, assigned to llaville

[2013-01-17 10:52] #57 closed, assigned to llaville

[2013-01-18 13:54] remicollet opened #62 "Hash without Mhash extension cause test failure"
Since PHP 5.3 mhash extension is deprecated by can be emulated by hash extension
In this case, "php -m" reports both hash and mash

In RHEL-6 php 5.3.3 have hash, but don't have mash
So HashTest fails.

Proposal : keep all mhash\* functions and constants only ini mhash reference.

What do you think (I wait your feedback before submitting a PR)

[2013-01-22 09:03] llaville opened #64 "Prepare documentation and version"
My TODO list is opened

[2013-01-22 09:23] #56 closed, assigned to nobody

[2013-01-25 11:45] #62 closed, assigned to nobody

[2013-02-22 09:56] #64 closed, assigned to llaville

[2013-02-22 14:07] remicollet opened #68 "PHP 5.4.12 failed tests"
There was 1 failure:

[code]

Need https://github.com/llaville/php-compat-info/commit/102fae24f81fc1c7bcff45343638dedb7326db0f

Also Need https://github.com/remicollet/php-compat-info/commit/c4f2ad1e47180ccb6b6dc75bc94d866188387ce1

[2013-02-25 11:12] #68 closed, assigned to nobody

[2013-02-26 15:41] remicollet opened #69 "SO_REUSEPORT missing in Sockets Reference"
[code]

This new constant is present since PHP 5.4.10 but is only defined if present in system library.

I'm currently working on the fix, and will submit a PR soon.

[2013-03-01 23:01] llaville opened #71 "Prepare documentation and version"
TODO list opened

[2013-03-04 09:01] #69 closed, assigned to llaville

[2013-03-09 07:53] remicollet opened #72 "Namespace issue (again)"
WIth phpci 2.13.2, a analysis of https://github.com/kriswallsmith/assetic reports some strange things, like:

[code]

Should be "apc_delete", from apc extension.

And

[code]

[2013-03-10 08:10] remicollet opened #75 "missing man page"
It will be great to have a man page for phpci command

I know the documentation is provided and quite complete, but this is still a common practice (and a packaging requirement) for all command / config file.

[2013-03-16 10:11] #71 closed, assigned to llaville

[2013-03-18 15:11] remicollet opened #76 "broken extension report"
With phpci 2.14.0

[code]

[2013-03-18 19:16] #76 closed, assigned to nobody

[2013-03-27 19:34] #72 closed, assigned to llaville

[2013-04-01 21:35] klipach opened #83 "Freeze while scanning a big project"
I tried to scan some big projects for example Symfony 2.1-2.2 and the process stops on 3200-3300 file. I tested on PHP 5.3 on Ubuntu and FreeBSD and had the same result.

[2013-04-04 08:58] temp opened #85 "phpci phar"
It would be nice to have phpci as a standalone phar.
Anything planned?

[2013-04-05 20:08] #83 closed, assigned to llaville

[2013-04-11 17:30] #75 closed, assigned to llaville

[2013-05-16 19:41] mekras opened #90 "Use array_key_exists instead of isset in Filter"
It seems that [here](https://github.com/llaville/php-compat-info/blob/master/PHP/CompatInfo/Filter.php#L67) array_key_exists() (in combination with is_array) should be used instead of isset(). Because "isset($values['versions'])" evaluates to "true" when $values is a string, but then "$values['versions'][2]" expression causes fatal error like this:

[code]

Code example:

[code]

[2013-06-03 17:10] #85 closed, assigned to llaville

[2013-06-21 17:07] llaville opened #93 "2.18.0"
Add support to final stable version of PHP 5.5

[2013-06-21 17:08] #93 closed, assigned to nobody

[2013-07-24 13:42] dregad opened #97 "False positive classMemberAccessOnInstantiation detection ?"
Hello

Today I scanned [MantisBT](https://github.com/mantisbt/mantisbt) with your tool, and noticed that when processing one of our bundled libraries - [ezc](http://ezcomponents.org/) version 2009.2.1 - it detected a case of _classMemberAccessOnInstantiation_ as shown in the below report (irrelevant parts omitted)

[code]

This is in the [file '3d.php'](https://github.com/mantisbt/mantisbt/blob/ma

[2013-07-29 19:16] #97 closed, assigned to llaville

[2013-08-20 06:03] remicollet opened #99 "SO_BINDTODEVICE exists in 5.4.18"
With 5.4.18

[code]

So this constant exists in php >= 5.4.18 and >= 5.5.1 (so not in 5.5.0)

[2013-08-22 16:04] #99 closed, assigned to llaville

[2013-09-17 08:20] herverenault opened #100 "Reports "5.2.0 (min)" on DateTime::diff (which requires 5.3)"
When run on a simple script containing only these lines of code :

[code]

phpcompatinfo reports

[code]

but DateTime::diff requires PHP 5.3.0 min, as the doc states on http://php.net/manual/en/datetime.diff.php

[2013-09-21 19:41] flip111 opened #102 "composer / packagist support"
Composer and packagist support would be super nice. It also can manage dependencies like PHP_Reflect.

[2013-10-14 17:58] #102 closed, assigned to llaville

[2013-10-28 17:24] mdesharnais opened #105 "Report "Required PHP 4.0.0 (min)" on short array syntax"
The CLI tool does not report the correct required version (5.4) when encountering the short array syntax.

http://www.php.net/manual/en/migration54.new-features.php

// File test.php
<?php
$array = [];
?>

// Terminal
$ phpcompatinfo print test.php
PHP_CompatInfo 2.23.1 by Laurent Laville

.

PHP COMPAT INFO REPORT SUMMARY

Required PHP 4.0.0 (min)

[2013-10-29 10:44] #105 closed, assigned to llaville

[2013-11-07 15:23] mdesharnais opened #106 "Report "Required PHP 4.0.0 (min)" on short array syntax 2"
This is a follow-up of issue #105.

The assignment now work:

[code]

The CLI tool does not report the correct required version (5.4) when encountering the short array syntax.

http://www.php.net/manual/en/migration54.new-features.php

[code]

[code]

[2013-11-07 19:22] #106 closed, assigned to llaville

[2013-11-20 15:53] henryruhs opened #107 "Composer fails cause of console_commandline"
Hello, I had to add pear.php.net to make it work!

pear-pear.php.ne/console_commandline -> no matching package found

[code]

[2013-11-20 17:00] henryruhs opened #108 "What about an deadly simple usage?"
Spending hours to get your tool to work the "composer" way.

The Autoload thing is not working at all... have you ever testet it
using composer? It does have other sub-paths and finally what
about people who do not like to load your on dev only?

Why isn't there a deadly simple script like your PEAR's CLI that can
be used here? This just doesn't work for me at all.

Why not something like that?

p

[2013-11-21 16:46] #108 closed, assigned to nobody

[2013-11-21 18:23] #107 closed, assigned to llaville

[2013-12-10 07:09] remicollet opened #110 "pecl/http version 2.x"
Hi

pecl/http extension version 2.0.1 is released http://pecl.php.net/package/pecl_http

This is a totally new API (using namespace).
So Reference is broken, but I don't see how to set all functions/classes with max extension version, and add new ones with min version.

[2013-12-10 08:39] remicollet opened #111 "Missing cli_*_process_title"
Because of https://bugs.php.net/66218 those functions, missing in Reference, are not detected during test, so:
- Adding them, in Reference to detect php 5.5 when used
- Adding them as optional because not detected by broken reflection

See: https://github.com/remicollet/php-compat-info/commit/b9ea81882b2892869eff60ba26ee74b67dfdc875.patch

[2013-12-10 08:39] remicollet opened #112 "Memcached 2.2.0b1"
See : https://github.com/remicollet/php-compat-info/commit/f9bf53fdaf2546b05e028a9fafa98936fb810cb6.patch

[2013-12-10 10:02] #111 closed, assigned to llaville

[2013-12-10 10:16] #112 closed, assigned to llaville

[2013-12-12 17:08] #110 closed, assigned to llaville

[2014-01-14 17:55] remicollet opened #114 "Riak extension version 1.1.3"
See https://github.com/remicollet/php-compat-info/commit/855e9dd13d923e488a6eb265ede9f71f7f217828

[2014-02-17 14:46] temp opened #115 "Not on packagist?"
Is there a reason why you haven't submitted phpcompatinfo to packagist yet?
I use composer global for my php related tools, and I would like to avoid adding a custom repository...

[2014-02-19 15:37] #114 closed, assigned to llaville

[2014-02-26 08:38] DennisBecker opened #116 "invalid composer.json file"
The added composer.json file is invalid:

[code]

Also it is a best practice to add your composer.lock file ti the repository, so everyone wo runs `composer install` will get the exact same package versions as you have used while developing.

[2014-02-26 09:13] DennisBecker opened #118 "Configuration file "" does not exist"
When I run `analyzer:list` I'll see the following in my console:

[code]

I could fix that issue with the following:

[code]

I'll guess there is no config file compiled into the .phar package.

Also have a look at the code where it checks for a configuration file:
https://github.com/llaville/php-compat-info/blob/802b97a7972eb91185670c29baf020ee78dcdcf6/src/Bartlett/CompatInfo/ConsoleApplication.p

[2014-02-26 18:47] #116 closed, assigned to nobody

[2014-02-26 20:53] #118 closed, assigned to nobody

[2014-03-08 08:52] #90 closed, assigned to llaville

[2014-04-11 09:12] #115 closed, assigned to llaville

[2014-06-15 20:41] cmb69 opened #119 ""private" keyword reports as "Required PHP 4.0.0 (min)""
PHP_CompatInfo 2.26.0 reports the following code as "Required PHP 4.0.0 (min)":

[code]

Private instance and all class (static) methods are reported as "Required PHP 5.0.0 (min)", as expected.

I have not been able to test with CompatInfo 3.1, because with a local composer install I can't execute compatinfo (Windows/Cygwin), due to wrong paths for required files.

[2014-06-16 14:43] cmb69 opened #120 "How to use compatinfo.json instead of old .xml configuration?"
In the [release announcement of Compatinfo 3.0.0](http://php5.laurent-laville.org/compatinfo/blog/#compatinfo_3_0_0_released) there is a link to an example config.json; unfortunately, that link is broken.

In the Git repo there is an example [phpcompatinfo.json](https://github.com/llaville/php-compat-info/blob/v3/bin/phpcompatinfo.json), but this doesn't explain (at least not for me) how to use a

[2014-07-01 17:01] #119 closed, assigned to llaville

[2014-07-22 09:41] #100 closed, assigned to llaville

[2014-07-24 13:19] #120 closed, assigned to llaville

[2014-08-14 13:07] Mte90 opened #121 "Alert on wrong version"
I develop plugins for wordpress but the minimum requirement is PHP 5.2.4.
I check weekly the minimum version but is possible get an alert that report the wrong line for the minimum requirement?
Now i scan manually in search of anonymous function and other things.

[2014-08-18 10:15] Rarst opened #122 "No HOME environment var on Windows"
According to docs and quick look at source config file is looked for in `$HOME/.config/`. However there is no HOME environment var on Windows platform, the path to user's home directory is stored in USERPROFILE there (or in two parts in HOMEDRIVE and HOMEPATH).

[2014-08-19 06:38] #122 closed, assigned to llaville

[2014-08-21 11:59] #121 closed, assigned to llaville

[2014-08-26 11:23] marius-balteanu opened #123 "Catchable fatal error: Object of class PhpParser\Node\Expr\Variable could not be converted to string"
I tried with both version (3.3.0 and 3.2.0) and I receive the below error when I scan a folder with a lot of files and folder (9674 files in 974 folders).

Do you need more information?

php D:\libraries\phpcompat\phpcompatinfo-3.2.0.phar analyser:run . --php="> 5.2.0"

Catchable fatal error: Object of class PhpParser\Node\Expr\Variable could not be converted to string in phar://D:/libraries/phpco

[2014-09-03 09:26] ecolinet opened #125 "analise vs analyze"
There is a lot of use of the term "analise", but AFAIK "analize" should be used instead (yes it's a big change).

@llaville What is your feeling about it ?

[2014-09-15 14:24] #125 closed, assigned to nobody

[2014-09-16 16:34] cmb69 opened #126 "Running CLI in local composer installation fails"
When I try to run `phpcompatinfo --version` in a local composer installation that fails with the following error:

[code]

Apparently, in vendor/bartlett/php-compatinfo/bin/phpcompatinfo $vendorDir is not set correctly. I applied the following fix in line 8 of this file:

[code]

Then I get:

[code]

I have not tried a global composer install.

[2014-09-16 17:48] cmb69 opened #127 "Interface Serializable is reported to require PHP 5.3"
I have only phpcompatinfo-3.3.0.phar, the [minimalist phpcompatinfo.json](http://php5.laurent-laville.org/compatinfo/manual/current/en/getting-started.html#_configuration) and the following PHP file in a directory:

[code]

Then I do:

[code]

However, according to the [PHP manual](http://php.net/manual/en/class.serializable.php) Serializable is available since PHP 5.1.0, and [3val.org](http://3v4

[2014-09-17 09:35] cmb69 opened #128 "Detection of conditional usage / possibility to exclude"
Consider the following code fragment:

[code]

PHP_CompatInfo 3.3.0 reports PHP 5.4.0 as minimum requirement. However, the code would work under PHP 4.3.0 and maybe even PHP 4.0.4. AIUI it is hard for a static code analyzer to recognize that (and most likely impossible for the general case), but it would be awesome if PHP_CompatInfo could be extended to detect some basic patterns of conditional us

[2014-09-17 13:56] #127 closed, assigned to llaville

[2014-09-19 11:42] #123 closed, assigned to llaville

[2014-09-23 11:26] #128 closed, assigned to llaville

[2014-09-24 19:43] cmb69 opened #129 "Non-empty classes are reported to require PHP 5.0.0"
Apparently, all non-empty classes are reported to require at least PHP 5.0.0. For instance, I have the following file:

[code]

Using the minimalist phpcompatinfo.json:

[code]

I get the same results with phpcompatinfo-3.3.0.phar, and also when I replace the bar() method with var $bar. When the class is empty, PHP 4.0.0 is correctly reported.

[2014-09-24 21:08] cmb69 opened #130 "Conditionally called function is reported as interface"
It seems that some functions which are called conditionally (i.e. when function_exists()) are reported as interface. For instance:

[code]

This happens with PHP_CompatInfo 3.4; it did not happen with 3.3.

[2014-09-25 17:22] #130 closed, assigned to llaville

[2014-10-01 17:46] cmb69 opened #131 "Classes in extends clause are not recognized"
Apparently, classes in the extends clause of a class declaration are not recognized wrt. to the required PHP version. For instance the following code is reported to run under PHP 4.0.0 (PHP_CompatInfo 3.4.0):

[code]

Of course, this would run fine under PHP < 5.1.0 if there is a user defined class Exception, but that scenario seems to be unlikely in practice, and the usage of interfaces in implem

[2014-10-02 07:48] #131 closed, assigned to llaville

[2014-10-06 09:52] #129 closed, assigned to llaville

[2014-10-14 08:02] llaville opened #132 "Minimum PHP version should take care of function arguments"
Currently when you have a function with arguments that were born with different PHP versions, only the `php.min` info is picked to compute the final MIN version.

Example:

[code]

Return PHP min 4.0.0, while it should return 4.3.0 due to second argument of `jdtojewish` function.

[2014-10-15 11:44] #132 closed, assigned to llaville

[2014-10-16 10:01] #126 closed, assigned to llaville

[2014-10-17 13:24] llaville opened #133 "class constant usage did not report the class itself"
With the script below, only the class constant `http\Client\Curl\SSL_VERSION_TLSv1` is reported, the class `http\Client\Curl` is missing.

[code]

Report produced by command  `phpcompatinfo analyser:run . class constant`

[code]

[2014-10-17 13:36] #133 closed, assigned to llaville

[2014-10-17 13:48] llaville opened #134 "Notice error with full report"
With the script below, when we run the command `phpcompatinfo analyser:run . --php`, we got PHP Notice error on namespace analysis

[code]

[2014-10-17 14:38] #134 closed, assigned to llaville

[2014-10-20 08:53] remicollet opened #135 "Full reference"
For now phpcompatinfo load references only for loaded extensions, and for versions used.

So it will report only usage of available extensions / versions in current environment

Not reported, if analysed code :
- uses functions from more recent PHP version (ex password_verify which is php 5.5+ is current version if 5.4)
- uses functions/classes from extensions not enabled (ex mongo, if mongo not i

[2014-10-25 08:42] llaville opened #136 "Fix jsonlint dependency in ValidateCommand"
As seen with Remi on PHP Forum, I'll also refactorize the `ValidateCommand` to avoid a direct dependency with `seld\jsonlint`

Planned to be fix in master branch, on monday !

[2014-10-28 17:05] llaville opened #137 "New analyser to find undeclared class/interface/trait"
As suggested by Remi Collet on PHP Forum 2014, a new analyser to show user classes / interfaces / traits used but not declared.

That will help to find vendor dependencies !

Remi, if I missed something, don't hesitate to add more informations :)

[2014-10-28 18:28] remicollet opened #138 "Object of class PhpParser\Node\Scalar\String could not be converted to string"
Using phpcompatinfo 3.5 and phparser 1.0.1

Trying to analyse owncloud 7.0.2 sources

[code]

[2014-10-29 09:25] #136 closed, assigned to llaville

[2014-10-30 13:32] llaville opened #139 "LogPlugin does not work"
Even if you specify correctly the logplugin in your `phpcompatinfo.json` config file, there are no results.

[2014-10-30 13:49] #139 closed, assigned to llaville

[2014-11-06 09:57] remicollet opened #140 "Constant scalar expressions are 5.6+"
Hi,

See : http://php.net/manual/en/migration56.new-features.php

So following code should be reported as 5.6 (currently as 4.0)

[code]

[2014-11-06 10:01] remicollet opened #141 "Variadic functions are 5.6+"
See http://php.net/manual/en/migration56.new-features.php

So following code should be reported as 5.6+ (currently as 4.0.0)

[code]

[2014-11-06 10:06] remicollet opened #142 "Exponentiation is 5.6+"
See http://php.net/manual/en/migration56.new-features.php

For now following code is reported as 4.0.0 instead of 5.6+

[code]

[2014-11-06 10:08] remicollet opened #143 "use const, use function are 5.6+"
See http://php.net/manual/en/migration56.new-features.php

For now following code is reported as 5.3.0 instead of 5.6+

[code]

[2014-11-06 13:36] #140 closed, assigned to llaville

[2014-11-06 15:37] #141 closed, assigned to llaville

[2014-11-06 19:17] #142 closed, assigned to llaville

[2014-11-07 09:56] #143 closed, assigned to llaville

[2014-11-16 17:52] cmb69 opened #144 "User defined constants reported as requiring PHP 5.6.0"
Under PHP CompatInfo 3.6.0 (with [minimalist phpcompatinfo.json](http://php5.laurent-laville.org/compatinfo/manual/current/en/getting-started.html#_configuration)) constants defined with define() are reported as requiring PHP 5.6.0. (Constants defined with the const keyword work fine.)

Test:

[code]

`php phpcompatinfo-3.6.0.phar analyser:run .`

[code]

[2014-11-17 13:34] #138 closed, assigned to nobody

[2014-11-17 14:31] #144 closed, assigned to llaville

[2014-11-19 16:23] stepanselyuk opened #145 "The "mash" extension"
Hi,
after scanning I got the result below:

[code]

What is the `mash` extension? I can't find information about it.

[2014-11-20 09:14] #145 closed, assigned to nobody

[2014-12-01 18:24] llaville opened #147 "Code optimization"
Reduce memory usage, and improve parsing speed.

Will used the new php-reflect 3.0 code base

[2014-12-01 18:29] #135 closed, assigned to llaville

[2014-12-01 18:31] #137 closed, assigned to llaville

[2014-12-01 19:12] llaville opened #148 "Array short syntax and array dereferencing not detected"
PHP 5.4 features : array short syntax and array dereferencing are not detected

Example:

[code]

[2014-12-02 13:29] #148 closed, assigned to llaville

[2014-12-11 19:53] GrahamCampbell opened #149 "3.7.0 Phar Broken"
![](http://i.imgur.com/nfRRai4.png)

[2014-12-11 22:59] llaville opened #150 "Use CompatInfo with the default config file"
When there are no `phpcompatinfo.json` file available in any directories specified in [documenation](http://php5.laurent-laville.org/compatinfo/manual/3.7/en/user-guide--configuration.html), default is to use the `phpcompatinfo.json.dist` file

[2014-12-11 23:01] #149 closed, assigned to nobody

[2014-12-16 19:35] #150 closed, assigned to llaville

[2014-12-17 13:23] llaville opened #151 "Avoid to scan all phar contents with reference:* commands"
Detection of references available in phar archive can be improved.

Avoid to scan all phar contents when references may be found only in `Bartlett/CompatInfo/Reference/Extension` folder.

[2014-12-17 13:32] #151 closed, assigned to llaville

[2014-12-17 15:42] llaville opened #152 "Roadmap to version 4.0"
If you want to have more feature than currently existing in branch 3, don't hesitate to open a request here.
If it's accepted, it will be included in this roadmap.

# Next major release

## alpha-1
*due date 2014-12-22*

- [x] improve analysis speed
  - [x] full reference with a new backend (SQLite3 database)
  - [x] the new `compatibilty` analyser store PHP and EXT versions in AST nodes, and in c

[2014-12-18 20:59] cmb69 opened #153 "+global namespace reports higher requirements than everything else"
When I run phpcompatinfo 3.7.0 over one a certain legacy codebase, I get the following results:

[code]

I don't understand why the +global namespace is reported to require PHP 5.0.0, even though all other items require PHP 4.3.10 at most.

When I run phpcompatinfo 3.7.0 over an empty file, the namespace requirement is PHP 4.0.0, as expected. Running phpcompatinfo over the legacy codebase with the

[2014-12-18 21:48] cmb69 opened #154 "Direct method call on newly created object doesn't report PHP 5.4.0 requirement"
Consider the following code snippet:

[code]

phpcompatinfo 2.26.0 reports that this syntactic construct requires 5.4.0, but phpcompatinfo 3.7.0 does not.

I would be happy if that check could be added back again, because I'm stumbling over it from time to time.

[2014-12-19 14:04] cmb69 opened #155 "Results depend on lexical order of fallback implementations"
Consider the following code:

    function do_something()
    {
        json_encode('foo');
    }

    if (!function_exists('json_encode')) {
        function json_encode() {
            // ...
        }
    }
    do_something();

The namespaces min is reported as 5.2.0, but if I put the the definition of do_something() at the end, the namespaces min is reported as 4.0.0. All other requirements ar

[2014-12-22 10:15] #153 closed, assigned to llaville

[2014-12-23 09:59] #147 closed, assigned to llaville

[2014-12-23 14:03] #154 closed, assigned to llaville

[2015-01-05 17:16] llaville commented on #152
CompatInfo 4.0.0-alpha has just been released. Learn more on the [blog](http://php5.laurent-laville.org/compatinfo/blog/201501-CompatInfo-4.0-alpha-2.html)

[2015-01-10 11:16] cmb69 opened #158 "Total requirements do not include Constants"
There seems to be a regression in 3.7.2 (works fine with 3.7.1), so that the Total doesn't include the Constants.

Test script:

    <?php

    echo PHP_EOL;
    mb_strtolower($text);

Output:

    Data Source Analysed

    Directories                                          1
    Files                                                1

    Global Analysis

                        Count Cond PHP m

[2015-01-10 11:22] cmb69 opened #159 "Conditionally used class is reported as required"
There seems to be a regression in 3.7.2 (works fine with 3.7.1), where conditionally used classes are reported as being required.

Test script:

    <?php

    mb_strtolower($text);

    if (method_exists('Normalizer', 'normalize')) {
        $text = Normalizer::normalize($text);
    }

Output:

    Data Source Analysed

    Directories                                          1
    Files

[2015-01-13 15:34] llaville commented on #155
I've reopened this issue, because the fix is not correct. Let me explains !

With such code as described in comment https://github.com/llaville/php-compat-info/issues/155#issue-52485910, the minimum PHP version and global namespace should be set to 4.0.0 and not 5.2.0 (as current).
This code is valid with older versions than 5.2, because the `json_encode()` function is declared

To be honest, the

[2015-01-13 15:38] llaville commented on #159
As I've declared in https://github.com/llaville/php-compat-info/issues/155#issuecomment-69762475, the conditional code is a big challenge that is not possible to solve without breaking other features in current API 3.7

This is the reason, why I won't resolved this issue in branch 3, but only with new API 4.0

[2015-01-13 19:48] llaville commented on #158
I finally found origin of regression due to commit https://github.com/llaville/php-compat-info/commit/dbda65a7955bb04673d659d41ae02da409b3ef8c#diff-9e696e6927eb42cc9053c00ab419b201

The control on lines 681 - 683 is at wrong location and is in conflict with `visitConstantModel` that can't do its job

[2015-01-13 20:00] llaville commented on #158
As new API 4.0 is not impacted by this issue, I'll attach to milestone 3.7.3 (no due date).

[2015-01-13 20:00] #158 closed

[2015-01-14 09:20] llaville opened #160 "Detect conditional code"
Some issues #128, #155, #159 were reported about conditional code.
We are in front of a challenge, because [PHP-Parser](https://github.com/nikic/PHP-Parser) 1.0.2 is not yet able to check pre-conditions (if code found) before traversing the AST.

A study case to understand what I means is the issue #155, where results depend on lexical order of fallback implementation.

I'll implement here the sol

[2015-01-14 10:24] llaville commented on #160
Node processor were implemented in Reflect with commit https://github.com/llaville/php-reflect/commit/c64e41219e54b5701085a4046666ea7dd340b21f

[2015-01-14 12:17] llaville commented on #155
The challenge to handle conditional code was also fixed. See #160

[2015-01-14 12:18] #155 closed

[2015-01-14 12:37] llaville commented on #159
@cmb69 `method_exists` was partially implement in 3.7.1 and gave wrong results.

Try `analyser:run` command with `--php` option to see something like

       Function      REF      EXT min/Max PHP min/Max
     C Normalizer    intl     1.0.0beta   5.2.0
       mb_strtolower mbstring 4.3.0       4.3.0
       method_exists Core     4.0.0       4.0.0
       Total [3/3]                        4.3.0

[2015-01-14 13:12] llaville commented on #159
Results is better now

    Classes Analysis

       Class      Matches REF  EXT min/Max PHP min/Max
     C Normalizer         intl 1.0.0beta   5.3.0alpha1
       Total [1]                           4.0.0

    Functions Analysis

       Function      Matches REF      EXT min/Max PHP min/Max
       mb_strtolower 1       mbstring 4.3.0       4.3.0
       method_exists 1       Core     4.0.0       4.0

[2015-01-14 13:39] llaville commented on #159
That's concluded bug fixe for API 4.0 only. No backport will be provided in API 3.0

[2015-01-14 13:39] #159 closed

[2015-01-15 17:08] llaville commented on #152
CompatInfo 4.0.0-alpha3 has just been released. Learn more on the [blog](http://php5.laurent-laville.org/compatinfo/blog/)

[2015-01-17 10:45] benjaminfunk opened #162 "Reflection Class"
php-compact-info did not match

http://php.net/manual/de/reflectionclass.newinstancewithoutconstructor.php

as >=5.4.0

[2015-01-19 09:40] llaville commented on #162
Please specify what php-compatinfo version you used !

[2015-01-19 09:50] benjaminfunk commented on #162
Oh sorry. Its 3.7.2 as phar.

[2015-01-19 13:22] llaville commented on #162
I'm sad to tell you that I cannot fixed it like a simple bug issue. Let me try to explain how it works.

This issue is also TRUE for the new API 4 (currently under development - latest version pretty stable is 4.0.0-alpha3).

CompatInfo 3 or 4 checks if it can find elements in it's dictionnary (one PHP file by extension in v3, and a SQLite database in v4).
Actually, only three extensions are fully

[2015-01-21 18:23] llaville commented on #162
This conclude the fix for CompatInfo 4.0
No backport will be provided, because too much info work.

Thanks for reporting !

[2015-01-21 18:23] #162 closed

[2015-01-22 09:15] llaville commented on #160
Depending on parsing file order, some code conditions are not detected

[2015-01-22 14:57] llaville commented on #160
Finally, I've found a compromise solution. A little loss of performance, but a real result.

[2015-01-22 18:45] llaville commented on #160
Files to process need to be reordered. See commit https://github.com/llaville/php-reflect/commit/a468e37f38b00b2460e74a4d62a94274b393d352

[2015-01-22 19:34] llaville commented on #160
Even, if we have solved challenge to identify conditional code on multiple files, and in different lexical order, we can improved again the detection.

See PHP_CodeSniffer 2.2 is a very good study case !

[2015-01-23 10:26] llaville commented on #152
I've just added the latest feature to display DB version with console application and `--version` option

    phpCompatInfo version 4.0-ga468e37 DB built Jan 23 2015 11:12:56 CET

Now, and until beta1 is released in one week, I'm focus to improved again the conditional code detection, and update as much as possible the DB informations.

[2015-01-26 13:27] llaville commented on #160
To solve detection of conditional code in multiple files, I've first (https://github.com/llaville/php-compat-info/issues/160#issuecomment-71074623) implemented a queue to sort file by priority (cond code first).

But, always with PHP Code Sniffer 2.2, I found it's not enough especially when using the reg exp and Symfony Finder filter iterator.

We can found in such condition, term (like "defined")

[2015-01-26 13:46] llaville commented on #160
Commit https://github.com/llaville/php-reflect/commit/ba1df8f29fd7b5cb85a3dbe4b03701868dae7f8e is not enough to solve the situation.

If you don't understand, try with following snippet code

[code]

`$content1` and `$content2` are OK, but `$content3` gave a false positive with fix https://github.com/llaville/php-reflect/commit/ba1df8f29fd7b5cb85a3dbe4b03701868dae7f8e

[2015-01-26 14:28] llaville commented on #160
confirmed now https://github.com/llaville/php-reflect/commit/42eb4e942cb3f81661a7868839a702d16b81ea13 by the additional token strategy

[2015-01-26 14:37] llaville commented on #160
Not enough (: There is still another case not catched here.

When we use a conditional code before it was defined, even with file sort startegy.

For example, see `PHP_CodeSniffer-2.2.0\CodeSniffer\File.php`,  and `getDeclarationName()` method that used T_TRAIT.

T_TRAIT is defined later in queue file `PHP_CodeSniffer-2.2.0.tgz\PHP_CodeSniffer-2.2.0\CodeSniffer\Tokens.php`.

Too late, and it gener

[2015-01-26 14:57] llaville commented on #160
With https://github.com/llaville/php-reflect/compare/42eb4e942c...fb522bb753 we finally solved previous conflict issue

[2015-01-26 15:23] #160 closed

[2015-02-04 10:42] llaville commented on #152
CompatInfo 4.0.0-beta1 has just been released. Learn more on the [blog](http://php5.laurent-laville.org/compatinfo/blog/)

Only the User Guide was updated to major version 4. Other guides will follow in next days !

[2015-02-10 09:08] llaville opened #164 "DateTime and DateTimeInterface"
Yesterday, when I've completed to document the `date` reference, I found a little issue in architecture.
Lets me try to explain with an example.

If you pick the script https://github.com/llaville/php-compat-info/blob/4.0/tests/fixtures/gh100.php

Before PHP 5.5.0, the `diff` method was part of `DateTime` class.
Since PHP 5.5.0, the  `diff` method is now a prototype of `DateTimeInterface`.

So wit

[2015-02-10 09:34] #164 closed

[2015-02-11 11:18] llaville opened #165 "Find undeclared elements"
Yesterday, in evening, I've created locally a patch in `compatibility` analyser to show by a `U` mark what elements ( class / interface / trait / user function ) are undeclared.

I've reborn an old request #137 from past !

With new API 4.0 I obtains better results with few code modified. Commit will follow soon.

It let me look also that there are some other issues I need to fix, because it gave

[2015-02-11 17:24] llaville opened #166 "Type hinting and objects"
While implementing the undeclared elements feature (#165) I found cases where wrong category was applied between class or interface in type hinting analysis.

Example with PHPUnit source code
[code]

`RecursiveIterator`  was found on class report while it should be on interface report

[2015-02-11 18:20] llaville commented on #165
To avoid false positive with PHPUnit source code example, I must first to fix issue #166, then I will close this one

[2015-02-12 10:38] llaville commented on #166
With [commit](https://github.com/llaville/php-compat-info/commit/bd020b37e5abcd59da282edb777dac3b8f071d26) object of type hint are correclty affected (even on multi files context)

[2015-02-12 10:41] #166 closed

[2015-02-12 10:42] llaville commented on #165
PHPUnit 4.5 study case gave now good results without false positive.

[2015-02-12 10:42] #165 closed

[2015-02-16 16:42] llaville opened #167 "Xdebug slows down execution"
Hello,

While new API make me proud with its results and speed improvement, I've run some performance tests on huge data sources.

My first attempt was to run CompatInfo on the Zend Framework 1.12.11, but I got some issues.

Especially due to `xdebug.max_nesting_level` ini option that is set by default to 100. Nikita recommanded to set it to 2000 or higher.  Learn more on [nikic/PHP-Parser](https:

[2015-02-20 10:11] llaville commented on #152
CompatInfo 4.0.0-beta2 has just been released. Learn more on the [blog](http://php5.laurent-laville.org/compatinfo/blog/)

[2015-02-20 13:52] remicollet commented on #152
I don't understand how this is expected to work with new API.

For now, nothing usefull reported:

    # phpcompatinfo-4.0.0-beta2.phar analyser:run .

    Data Source Analysed

    Directories                                          2
    Files                                                6

Nothing about class, extension, ...

[2015-02-23 09:49] llaville commented on #152
Without context it's very difficult to say something.
Please specify at least :
- if you used a JSON config (or not), and its content.
- the data source analysed (URL if public source).

[2015-02-23 09:53] remicollet commented on #152
No, only the "phpcompatinfo-4.0.0-beta2.phar"

Any data source give the same result (the output was from doctrine/instantiator)

[2015-02-23 10:11] llaville commented on #152
uhm, strange !
* I've downloaded a copy of doctrine/instantiator from https://github.com/doctrine/instantiator/archive/master.zip
* I've run the following command without json config file
  $ php ..\phar\phpcompatinfo-4.0.0-beta2.phar --profile analyser:run \var\dist\instantiator-master.zip

And I get this result :

    Data Source Analysed

    Directories

[2015-02-23 10:36] llaville commented on #152
I've compared your results and mine (new run with source files `src/` folder only not in phar archive but in uncompressed format)
I see at least a difference.

This file is not in the current data source (git project repo)
    /usr/share/php/Doctrine/Instantiator/autoload.php

Where does it come from ?

I've only 5 files to parse, while you have 6

    [files] => Array
        (
            [0] =>

[2015-02-23 10:43] remicollet commented on #152
phpab output.

But as I said, this issue affects "ALL" data sources, not only this one (just checked with doctrine/common/cache, lexer, util, symfony/yaml, config...)

[2015-02-23 10:58] llaville commented on #152
I don't see any reason why you should not get the report output. I've run dozen of tests on mutliple data sources (ZF1, ZF2, owncloud7, PHP_CodeSniffer, Phing, PHPUnit, etc ...) and I always have a render.

Did you tried the source code (rather than phar version) ? What PHP version did you used ? is xdebug extension loaded ?

[2015-02-23 11:02] remicollet commented on #152
$ php -v
    PHP 5.6.6 (cli) (built: Feb 19 2015 09:44:29)
    Copyright (c) 1997-2015 The PHP Group
    Zend Engine v2.6.0, Copyright (c) 1998-2015 Zend Technologies
        with the ionCube PHP Loader v4.7.4, Copyright (c) 2002-2014, by ionCube Ltd., and
        with Zend OPcache v7.0.4-dev, Copyright (c) 1999-2015, by Zend Technologies
        with Xdebug v2.3.0, Copyright (c) 2002-2015, by Der

[2015-02-23 12:03] llaville commented on #152
Code logic to call output formatter after calling an API method is there

https://github.com/llaville/php-reflect/blob/3.0/src/Bartlett/Reflect/Console/CommandFactory.php#L316-L361

Reasons that could break report render are :
* an API method raised an Exception (but it should be rendered)
* the output formatter corresponding to analyser used in not loadable or console debug mode is active (-vvv),

[2015-02-23 12:52] llaville commented on #167
I've just tested the new version 2.3.0 of xdebug with PHP 5.6.6, and notice same behavior !

CompatInfo 4.0 beta2 Time elapsed ~5.30 sec Memory ~11Mb, xdebug loaded
CompatInfo 4.0 beta2 Time elapsed ~1.15 sec Memory ~10.5Mb, xdebug NOT loaded

[2015-02-23 17:36] trasher commented on #152
Hello,

I can reproduce @remicollet issue. Testing on Galette sourcecode (https://github.com/galette/galette/tree/develop/galette/lib/Galette/Common).

PHP version:
[code]

Running:
[code]
Gives:
[code]

Then running:
[code]

Gives:
[code]

[2015-02-23 18:28] remicollet commented on #152
I found the issue : basename($classname) can't work, it is designed for files, not for classes.
See https://github.com/llaville/php-reflect/blob/3.0/src/Bartlett/Reflect/Output/Analyser.php#L97

Must use, for example:

     basename(str_replace('\\', '/', $analyserName));

And, of course, all other usages of basename have to be checked.

[2015-02-23 18:40] remicollet commented on #152
https://raw.githubusercontent.com/remicollet/remirepo/4e7f437d8d1dd0f2d6e2e7ef1eed5f5123a44231/php/bartlett/php-bartlett-PHP-Reflect/php-bartlett-PHP-Reflect-3.0.0-fix.patch

[2015-02-23 19:01] llaville commented on #152
@remicollet Thanks a lot.
And now, I know why it works only on Windows !

[2015-02-23 19:33] llaville commented on #152
I'll release a beta3 for reflect and compatinfo on Feb 26 or 27.

It'll let a chance to all testers to found others issues related to incompatibility between os platforms ;-)

[2015-02-27 08:44] #152 closed

[2015-02-27 08:46] llaville commented on #167
No comments since at least a week. So with lack of interest on this RFC, I will close it

[2015-02-27 08:46] #167 closed

[2015-02-27 12:41] cmb69 opened #168 "Global constants defined with `const` are not properly analyzed"
I've noticed that global constants defined with the `const` keyword are reported as requiring PHP 4.0.0, but they are allowed only since PHP 5.3.0; in earlier version that is a [syntax error](http://3v4l.org/vJaWe).

Test script:

    <?php
    const FOO = 42;

`php phpcompatinfo-4.0.0-beta3.phar analyser:run .`

    Constants Analysis

        Constant  Matches REF  EXT min/Max PHP min/Max

[2015-03-02 13:22] llaville commented on #168
Better explain http://stackoverflow.com/questions/2447791/define-vs-const than the syntax error link

[2015-03-02 13:51] #168 closed

[2015-03-19 14:55] temp opened #169 "Wrong php version detected with phpcompatinfo-3.7.3"
My code uses \DateTimeImmutable::createFromMutable(), which was added to php in 5.6.0.
But phpcompatinfo detects minimum php version 5.5:

[code]

[2015-03-19 15:29] llaville commented on #169
Hello Stephan,

php-compatinfo 3.7 is already reached end-of-life. I won't maintain it  for references elements versions.

The new version 4.0.0-RC1 available since 2015-03-04 solved this issue, and add many improvements, such as speed, memory comsumption, PHP 5.6 support and lot more.

Data dictionnary is now on a local SQLite3 database built from a series of JSON files (see `data
/references` fo

[2015-03-20 09:29] temp commented on #169
Thanks for your info!
Just tried it with phpcompatinfo-4.0.0-RC1.phar, but I still get minimum version 5.5.0, which is wrong.

Code:
[code]

compatinfo:
[code]

Doesn't phpcompatinfo check method calls?

[2015-03-20 09:41] llaville commented on #169
YES, phpcompatinfo is able to check method calls !

With only the snippet code provided
[code]
I got results as follow

    Data Source Analysed

    Directories                                          1
    Files                                                1

    Extensions Analysis

        Extension Matches REF  EXT min/Max PHP min/Max
        Core              Core 4.0.0       5.6.0beta1

[2015-03-20 09:51] temp commented on #169
Here's a small test case.

Test.php:
[code]

Results:

[code]

[2015-03-20 09:59] llaville commented on #169
Thanks for the test case. I'll have a look on this issue ASAP.
Bug fixe should be include in 4.0.0-RC2 that will support also latest PHP versions (5.6.7, 5.5.23, 5.4.39)

[2015-03-20 10:01] temp commented on #169
thanks!

[2015-03-23 09:02] llaville commented on #169
Before to publish the RC2 tomorrow, I'll try to explain the current situation, and the solution implemented.

First, let me said that RC1 is already able to detect PHP version on each class method.
If we used the test case code example you've provided Stephan, and ativate the verbose level 3 (`-vvv`), you can check it yourself.

Of course it's not enough, so this is the reason I've worked to impro

[2015-03-23 09:51] llaville commented on #169
About my comment

Here is a real concrete example. Have a look on cakePHP 3.0

class constructor required PHP 5.4.0 (min), due to array short syntax
https://github.com/cakephp/cakephp/blob/3.0/src/Auth/AbstractPasswordHasher.php#L42

`needsRehash()` method requires PHP 5.5.0, due to [password_needs_rehash](http://www.php.net/manual/en/function.password-needs-rehash.php) function
https://github.com

[2015-03-23 11:41] llaville commented on #169
I'm pretty satisfied of results provided. it's up to users now to tell me if there are agree with this !

[2015-03-23 13:03] temp commented on #169
Looks good!
I'll checkout branch 4.0 later, and will test it.

[2015-03-23 14:45] temp commented on #169
Works fine!

[2015-03-24 11:33] m6w6 opened #170 "Constant scalar expression detection"
I think there is a missing negation at https://github.com/llaville/php-compat-info/blob/master/src%2FBartlett%2FCompatInfo%2FAnalyser%2FAbstractAnalyser.php#L328 which marks any scalar constant in a namespace as a constant facilitating scalar *expressions*.

So

    <?php
    namespace foo;
    const bar = "foo";

is wrongly marked with 5.6.0

and

    <?php
    namespace foo;
    const bar = "foo

[2015-03-25 14:34] llaville commented on #169
Solution available in https://github.com/llaville/php-compat-info/releases/tag/4.0.0-RC2

[2015-03-25 14:34] #169 closed

[2015-03-26 12:48] remicollet opened #171 "Missing extension on class inheritance"
Tested with 4.0.0-rc2 against phpMyAdmin  4.4.0-rc1

IN Classes Analysis

      XMLWriter                             2       xmlwriter 5.1.2       5.1.2

In Extensions Analysis, xmlwriter is missing.

[2015-03-26 13:53] llaville commented on #171
This issue came when a class inherit from another one that is part of an extension.

In phpMyAdmin 4.4.0-rc1 code source, its comes two times :

- phpMyAdmin-4.4.0-rc1-all-languages\libraries\plugins\schema\dia\Dia_Relation_Schema.class.php
  class PMA_DIA extends XMLWriter
- phpMyAdmin-4.4.0-rc1-all-languages\libraries\plugins\schema\svg\Svg_Relation_Schema.class.php
  class PMA_SVG extends XMLWr

[2015-03-26 14:03] llaville commented on #170
This bug affect only php-compatinfo 3.7 versions. That is I remember is in end-of-life situation.

php-compatinfo 4.0.0-RC2 give the right results, and is not affected by this issue.

I'll certainly release  a 3.7.4 but without date planned (it's not my priority; I'm focus on new major version 4.0 that should be released stable on April 4)

[2015-03-26 19:45] llaville commented on #170
I've followed origin of issue.
It came from commit https://github.com/llaville/php-compat-info/commit/a0218a8b6d443eed347cfb9d52b454c32b3d1e5a, that was a bad fix for issue GH-144.

Origin is not there, but on php-reflect 2.6  https://github.com/llaville/php-reflect/blob/master/src/Bartlett/Reflect/Builder.php#L647

So to fix this current issue, and avoid regression with GH-144, I'll have to publi

[2015-03-26 21:55] llaville commented on #171
This is also affect when a class implements an interface that is part of an extension.

[2015-03-26 21:57] #171 closed

[2015-03-27 08:30] m6w6 commented on #170
Sorry, I thought I was running 4.0, and sorry again, but I have to put off my rant here. Installing this overengineered bulk with composer is a nightmare; this is the composer line that made it actually work:

`composer global require bartlett/php-compatinfo=4.0.x-dev bartlett/php-reflect=3.0.x-dev nikic/php-parser=~1.1`

Now, it still bails out, and I have no idea why:

    █ mike@smugmug:~/src/p

[2015-03-27 08:42] llaville commented on #170
If you want to install the source code, here is a solution that works

Clone the repo either with HTTPS, invoking command

    git clone https://github.com/llaville/php-compat-info.git

Or SSH

    git clone git@github.com:llaville/php-compat-info.git

Then on the `php-compat-info`, invoke composer to install dependencies required

    cd php-compat-info
    php composer.phar install

[2015-04-01 08:04] remicollet opened #174 "Failed tests in upcomming 4.0.0"
Bug tracker for failed tests

     PHPUnit 4.5.1 by Sebastian Bergmann and contributors.

     Configuration read from /work/GIT/php-compat-info/phpunit.xml.dist

     .............................................................   61 / 4590 (  1%)
     .........................................S..........S........  122 / 4590 (  2%)
     ............................................................

[2015-04-01 08:05] remicollet commented on #174
* 1-4 fixed by pr #173
* 5 related to Imagick 3.3.0RC1
* other related to incomplete classe reference

[2015-04-01 08:13] llaville commented on #174
I think you should rebuild the database (I did not published sqlite db for a long time), and push only a new version with a release now

Only Imagick 3.1.2 (stable) is supported. See `reference:list` command

[2015-04-01 08:19] remicollet commented on #174
5-6 fixed by pr #175

[2015-04-01 08:22] llaville commented on #174
On my windows laptop, with a fresh built DB and your PR #173 only, I got these results

    PHPUnit 4.5.1 by Sebastian Bergmann and contributors.

    Configuration read from C:\home\github\php-compat-info\phpunit.xml

    ............................................................   60 / 1368 (  4%)
    ............................................................  120 / 1368 (  8%)
    .........

[2015-04-01 08:24] llaville commented on #174
I'm still analysing your PR #172 to see why we have 4590 tests while previously we have only 1368

[2015-04-01 08:30] remicollet commented on #174
Because 1 test per constant instead of 1 test per extension (but number of assertion should be nearly the same)

[2015-04-01 08:31] remicollet commented on #174
Ok, with a fresh db (1 and 2 are Gmp + Http)

     3) Bartlett\Tests\CompatInfo\Reference\Extension\RedisExtensionTest::testGetClassConstantsFromExtension
     Defined class constant 'Redis::SERIALIZER_IGBINARY' not known in Reference.
     Failed asserting that an array has the key 'SERIALIZER_IGBINARY'.

     /work/GIT/php-compat-info/tests/Reference/GenericTest.php:616

     4) Bartlett\Tests\C

[2015-04-01 08:49] llaville commented on #174
Probably a wrong windows version build. I have the latest version 2.2.7 got from pecl.php.net
And only  `php --re redis`

    - Classes [3] {
    Class [ <internal:redis> class Redis ] {

      - Constants [19] {
        Constant [ integer REDIS_NOT_FOUND ] { 0 }
        Constant [ integer REDIS_STRING ] { 1 }
        Constant [ integer REDIS_SET ] { 2 }
        Constant [ integer REDIS_LIST ] { 3

[2015-04-01 09:02] llaville commented on #174
Can't test, due to a wrong windows build. I've the latest version 1.3.2 get from pecl.php.net
Even after load test

    deplister.exe php_sphinx.dll
    php5ts.dll,OK
    WS2_32.dll,OK
    MSVCR110.dll,OK
    KERNEL32.dll,OK

I have no results with  `php re --sphinx`

    Exception: Extension sphinx does not exist

[2015-04-01 09:11] llaville commented on #174
Forget my previous comment about sphinx. I've redownloaded the win ver from pecl and now it's loadable

[2015-04-01 09:19] llaville commented on #174
Even if my windows version of sphinx is now loadable. There are differences between the reflection I got and your https://github.com/remicollet/remirepo/blob/master/php/pecl/php-pecl-sphinx/REFLECTION

Missing in Windows version 1.3.2

    Constant [ integer SPH_RANK_PROXIMITY ] { 4 }
    Constant [ integer SPH_RANK_MATCHANY ] { 5 }
    Constant [ integer SPH_RANK_FIELDMASK ] { 6 }
    Constant [

[2015-04-01 09:22] llaville commented on #174
Of course, there is a quick solution, to solve this situation. Not the best one, but the faster.
Deactivated reference "fully documented" in https://github.com/llaville/php-compat-info/blob/4.0/tests/Reference/GenericTest.php#L57

What do you think of this one ?

[2015-04-01 09:23] remicollet commented on #174
SERIALIZER_IGBINARY is an optional constant, only defined when build with --enable-redis-igbinary option

[2015-04-01 09:27] remicollet commented on #174
About sphinx, those constants are optional (depend on libsphinx client)

[2015-04-01 09:32] llaville commented on #174
About varnish and your PR #176, the windows version 1.2.1 did not inclued them

    Class [ <internal:varnish> class VarnishLog ] {

      - Constants [0] {
      }

And comparing with your REFLECTION file, I see also a diff on visibility method (public on my side)
https://github.com/remicollet/remirepo/blob/master/php/pecl/php-pecl-varnish/REFLECTION#L251

[2015-04-01 09:47] remicollet commented on #174
See comment on PR #176 and additioonal commit on PR #172

[2015-04-01 09:53] llaville commented on #174
Ok I read and see comment on PR #176.
Sorry but I can't merge yet the PR #172. I'd like to have a separate commit that fixed only varnish class constant.

[2015-04-01 10:06] llaville commented on #174
Nevermind, class constants are not yet checked with the `GenericTest::testGetConstantsFromReference()` method (excluding your PR #172)

[2015-04-01 11:36] llaville commented on #174
About sphinx methods missing (previous comment https://github.com/llaville/php-compat-info/issues/174#issuecomment-88409783), I just see that there are optional (depend on  libsphinxclient )
E.g:  http://php.net/manual/en/sphinxclient.close.php

[2015-04-01 14:50] remicollet commented on #174
All are fixed now.

[2015-04-01 14:50] #174 closed

[2015-04-03 15:04] remicollet opened #183 "Idea: add "optional" in the DB."
This could simplify some tests.
(of course only for "really" optional, not those related to OS or to external library version)

[2015-04-05 05:44] joshuaspence opened #184 "Class methods are missing in v4"
In version 3, PHP CompatInfo would include information about class methods. It seems that this data is missing in version 4.

[2015-04-05 05:49] joshuaspence opened #185 "Windows-specific compatibility"
There are some functions which are either not implemented in Windows or are implemented but in a different version. For example, the [[http://php.net/manual/en/function.apache-child-terminate.php | apache_child_terminate]] method is "not implemented on Windows platforms".

A rough list of Windows-specific compatibility issues is as follows:

[code]

[2015-04-07 08:34] llaville commented on #184
Evan,
I've not understood your request, until I see your script.

The `reference:show` API did not provided yet the class or interface methods compatibility informations.

But to avoid any misunderstanding, the new major version 4.0 will take care of class methods versions in compatibility analysis phase. Details are visible on CLI if you set at least the verbose level 1 (`-v`) .

[2015-04-07 08:46] llaville commented on #183
I'm thinking about a concept, that will solve only the unit tests, but allow to solve platform conflicts.

Availalble on Linux, but not on Windows (see sphinx extension https://github.com/llaville/php-compat-info/issues/174#issuecomment-88409783), or depending of a PHP build conf (see redis extension https://github.com/llaville/php-compat-info/issues/174#issuecomment-88398968).

And also  #185, an

[2015-04-08 10:52] fabiang opened #186 "Add sniff for new reserved words in PHP7"
PHP7 will reserve some keywords for class-, interface-, trait names and namespaces:
- [PHP RFC: Reserve More Types in PHP 7](https://wiki.php.net/rfc/reserve_more_types_in_php_7)
- [PHP RFC: Reserve Even More Types in PHP 7](https://wiki.php.net/rfc/reserve_even_more_types_in_php_7)

Would be a nice feature if phpcs could have a sniff for those keywords

[2015-04-08 18:51] cmb69 opened #187 "Composer installation fails to install compatibility analyser"
When using phpcompatinfo-4.0.0.phar the output of `phpcompatinfo analyser:list` is as shown in the [user guide](http://php5.laurent-laville.org/compatinfo/manual/current/en/user-guide--commands.html). However, when I install via Composer the compatibility analyser is missing. This happens even though I used a local composer install (to avoid any inadvertent dependencies):

    {
        "require-d

[2015-04-08 20:55] cmb69 opened #188 "Config option "exclude" is not recognized"
Apparently, the configuration option "source-providers" -> "exclude" is not recognized. I've tried `phpcompatinfo analyser:run .` with the following phpcompatinfo.json:

    {
        "source-providers": [
            {
                "in": ". as current",
                "name": "/\\.(php|inc|phtml)$/",
                "exclude": "vendor"
            }
        ],
        "plugins": [
        ],

[2015-04-09 07:02] llaville commented on #187
Fixed in php-reflect project.
Will be released with reflect 3.0.1 and compatinfo 4.0.1

[2015-04-09 07:02] #187 closed

[2015-04-09 07:03] llaville commented on #186
Sure, but no date due because PHP 7 is still under development

[2015-04-09 07:27] llaville commented on #188
This is not a bug. Perharps I did not explained the major difference beetween API 4.0 and 3.x, but the `phpcompatinfo.json` config file is not necessary.  Especially when you parse single file or directory.

The config file, is used only for advanced developers, that want either :

- to include a plugin (log, cache, notifier, ...)
- to config the symfony/finder

But, BE CAREFULL, when you do this,

[2015-04-09 10:13] cmb69 commented on #188
Ah, now I understand, Thanks for the explanation.

And thanks for the good work. 4.0.0 looks great. :smile:

[2015-04-09 10:45] llaville commented on #188
Thanks for yor feedback, and glad you enjoy the new version !

[2015-04-09 10:45] #188 closed

[2015-04-09 17:05] llaville opened #189 "Enhance GenericTest"
Following Remi's work begun with PR #172, I've another implementation that will be publish on a new branch called `generictest` to avoid conflict with current stable version.

Everybody are encourage to give their feedback.

Roadmap.
- push the new branch tomorrow (2015-04-10) with all extensions fixed.
- push monday  (2015-04-13) a new phpunit console printer more human readable than the standard

[2015-04-10 06:43] llaville commented on #189
Some explains :

Running the full unit test suites with the `phpunit.xml.dist` took a long time on my laptop (Windows dual core 2Ghz).
- 2 min 20 sec before the phpunit progress bar appears (phase initialization, create test and count them through the data provider - phpunit standard behavior)
- 4 min 40 sec total later the result displayed

OK, but incomplete, skipped, or risky tests!
Tests: 2003

[2015-04-13 18:40] llaville commented on #189
The new phpunit console printer will follow [example](https://github.com/llaville/phpunit-LoggerTestListener/commit/1b3f6d3ec4b2d60a7c2dbadd947feefb44b1b800) provided in future bartlett/phpunit-loggertestlistener 1.3.0

[2015-04-14 06:50] llaville commented on #189
The first public version of phpunit printer console is available !

Compare between standard console printer :

    phpunit.phar -c phpunit.xml  tests\Reference\Extension\AmqpExtensionTest.php

That ouput something like

    PHPUnit 4.6.4 by Sebastian Bergmann and contributors.

    Configuration read from C:\home\github\php-compat-info\phpunit.xml

    ............S...............................

[2015-04-14 06:55] llaville commented on #189
NOTE: `--printer` switch was used only for comparaison demo. You may also put in in the `phpunit.xml` file. Entry is  `<phpunit printerClass="Bartlett\\Tests\\CompatInfo\\ResultPrinter"`

[2015-04-15 09:38] llaville commented on #170
@m6w6 as announced in my previous comment https://github.com/llaville/php-compat-info/issues/170#issuecomment-86687898, a php-reflect 2.6.3 has just been released, and a php-compatinfo 3.7.4 will follow soon.

In context of a Long Term Support (that will be ended on December 2015).

Now final stable release php-reflect 3.0.0, and fnal stable release php-compatinfo 4.0.0 are available, I consider p

[2015-04-15 11:07] llaville commented on #170
php-compatinfo 3.7.4 is now available.

[2015-04-15 11:07] #170 closed

[2015-04-15 17:40] llaville commented on #184
Implemented and available in repo. See commit https://github.com/llaville/php-compat-info/commit/596a631de377eecc3fdbc95e4bd50cb186233dc0

In CLI, here is an example with `date` extension

    phpcompatinfo reference:show --methods date

Will output something like

    Methods                              EXT min/Max PHP min/Max
     DateInterval::__construct            5.3.0       5.3.0
     Date

[2015-04-16 09:56] #184 closed

[2015-04-24 10:41] llaville commented on #189
Two weeks that this improvement to unit test suites was proposed and no feedback yet.
Lack of interest time period, again for two more weeks, and I'll cancel this feature !

[2015-04-24 15:23] remicollet opened #191 "Failed tests - Fedora 19/20"
Output from the generic test branch (which allow to report all issues in a single pass), with PHP 5.5.24 and a minimum set of extension installed

     + /usr/bin/phpunit --include-path src -d memory_limit=-1
     PHPUnit 4.6.4 by Sebastian Bergmann and contributors.
     Configuration read from /builddir/build/BUILD/php-compat-info-0ed258e3ed120704f40ec6461d5d61b6a5cd5971/phpunit.xml.dist
     ..

[2015-04-24 15:27] remicollet opened #192 "Failed tests - RHEL-7"
Output from the generic test branch (which allow to report all issues in a single pass), with PHP 5.5.40 and a minimum set of extensions installed

     Time: 50.35 seconds, Memory: 57.50Mb
     There were 33 failures:
     1) Bartlett\Tests\CompatInfo\Reference\Extension\ZendopcacheExtensionTest::testGetIniEntriesFromReference with data set #0 ('opcache.enable', array('7.0.1', '', '5.2.0', ''))

[2015-04-24 15:31] remicollet opened #193 "Failed tests - RHEL-6"
Output from the generic test branch (which allow to report all issues in a single pass), with PHP -5.5.40 and a minimum set of extension installed

     Time: 51.31 seconds, Memory: 57.50Mb
     There were 36 failures:
     1) Bartlett\Tests\CompatInfo\Reference\Extension\CurlExtensionTest::testGetConstantsFromReference with data set #116 ('CURLINFO_LOCAL_IP', array('curl', '5.4.7', '', '5.4.7', '

[2015-04-24 15:35] remicollet commented on #189
See issue #191 #192 and #193 which show that this feature is useful to get a complete report in a single pass (which was nearly impossible to achieve with standard test suite: 1 run , 1 failure, 1 fix... iterate)

[2015-04-24 15:38] remicollet commented on #192
Mostly reports about opcache which is not loaded.

[2015-04-24 15:40] remicollet commented on #191
* as #191 opcache issues
* optional constant with curl 7.32
* JSON_PRESERVE_ZERO_FRACTION because pecl/jsonc is used instead f the fucking^W non-free  ext/json

[2015-04-24 15:41] remicollet commented on #193
* as #191, opcache issues
* optional constant with curl 7.19

[2015-04-24 16:31] remicollet commented on #189
Le soucis, c'est le temps.

Un premier fix (je gagne 10%, mais j'ai un max. d'extensions chargées)

    diff --git a/tests/Reference/GenericTest.php b/tests/Reference/GenericTest.php
    index 5613c2b..1efdb85 100644
    --- a/tests/Reference/GenericTest.php
    +++ b/tests/Reference/GenericTest.php
    @@ -148,7 +148,9 @@ abstract class GenericTest extends \PHPUnit_Framework_TestCase
          */

[2015-04-25 00:03] cmb69 opened #194 "Static method calls don't properly adjust total requirements"
Consider the following script:

    <?php

    Normalizer::normalize('foo');

Running `phpcompatinfo analyser:run .` (PHAR version 4.1.0), class `Normalizer` is correctly detected to require PHP 5.3.0alpha1, but the total requirements are reported as:

    Requires PHP 4.0.0 (min), PHP 4.0.0 (all)

[2015-04-25 00:18] cmb69 opened #195 "Absolutely namespaced classes not properly detected with class_exists()"
Consider the following script:

    <?php

    if (class_exists('\Normalizer')) {
        \Normalizer::normalize('foo');
    }

Running phpcompatinfo analyser:run . (PHAR version 4.1.0), I get the following (partial) output:

        Class       Matches REF  EXT min/Max PHP min/Max PHP all
        Normalizer  1       intl 1.0.0beta   5.3.0alpha1
     CU \Normalizer         user             5.3.0

[2015-04-27 09:46] llaville commented on #194
Reason is that `intl` extension reference is not yet fully documented (methods are missing).

FYI: All references that are already fully documented are defined in the `GenericTest` : see https://github.com/llaville/php-compat-info/blob/4.0/tests/Reference/GenericTest.php#L57-L87

[2015-04-27 09:51] llaville commented on #195
As explained in #194, the `intl` reference with missing methods is not yet able to detect the right version for `\Normalizer::normalize('foo')`.
I must document it before  to check other fixes !

[2015-04-27 10:23] llaville opened #196 "Version of Extensions are not reliable"
Version in extensions are not reliable, and could not be used to compare References in php-compatinfo and platform under test.

E.g:  `intl` currently bundled with PHP 5.6.8 (Windows) provides 1.1.0 version that is really outdated.

I'll integrate a new version checking to will also allow to skip some releases as it's done in https://github.com/llaville/php-compat-info/blob/4.0/tests/Reference/Gen

[2015-04-27 12:49] llaville commented on #194
If you want to test it, DO NOT forget to rebuild the database. Invoke the following command on php-compatinfo folder

    php data/handleDB.php db:init

It will create a new fresh copy of `compatinfo.sqlite` that will replace the current distribution of 4.1.0

[2015-04-27 12:49] #194 closed

[2015-04-27 13:30] cmb69 commented on #194
Works great! Thanks.

[2015-04-27 17:10] llaville commented on #195
Thanks Christoph for your report. It will allow me to improve again conditional code detection.

When a class is detected previously as optional, all methods are also tagged as optional to avoid bad total requirements

[2015-04-27 17:10] #195 closed

[2015-04-30 09:59] GaryJones opened #197 "Only report when above a certain version"
If the output contains many lines, trying to find that one instance of 5.4 amongst all of the 4.0.0 lines is a little painful.

Could there be a flag where only entries that have a min requirement above that flag value are shown? i.e. `phpcompatinfo analyser:run . --min 5.4.0`

[2015-04-30 10:01] GaryJones opened #198 "Documentation for "all""
I'm not clear on what the "all" column is for in the output and I couldn't find a clear explanation in the documentation.

Could this be clarified in the documentation please?

[2015-04-30 10:15] llaville commented on #198
Will do !
In waiting that should be clarify in documentation, here is a summary :

https://github.com/llaville/php-compat-info/issues/169#issuecomment-84898437

Tell me if it's enough or not as explains

[2015-04-30 10:21] llaville commented on #197
Ok will add the same feature as for API `reference:show` , see the `--filter` option

An example is availalable on examples folder https://github.com/llaville/php-compat-info/blob/4.0/examples/api_reference_show.php

[2015-05-04 09:47] llaville commented on #189
I've just finished my new console logger version that will requires [bartlett/phpunit-loggertestlistener](https://github.com/llaville/phpunit-LoggerTestListener) 1.5.0 (not yet released).

Compares between standard PHPUnit printer console and mine are almost equal, but with more more I'll try to explain on a post I'll publish later in my blog. I'll keep you aware.

In summary

PHPUnit STD printer

[2015-05-04 10:43] llaville commented on #189
In waiting release of bartlett/phpunit-loggertestlistener 1.5.0, and new post of blog project that will explain in detail the new PHPUnit printer class, code are available on recent commits https://github.com/llaville/php-compat-info/compare/c600cc3b5c...444dbe3ea4

[2015-05-04 17:42] llaville commented on #189
All explains about the new console logger (PHPUnit printer class) are available on post http://php5.laurent-laville.org/compatinfo/blog/201505-PHPUnit-ResultPrinter.html

[2015-05-04 23:09] cmb69 opened #199 "Class inheritance lifts requirements to >= PHP 5.3.0"
Please consider the following test script:

    <?php

    class Foo {}
    class Bar extends Foo {}

`phpcompatinfo-4.1.0.phar --analyser:run .` reports `Requires PHP 5.3.0 (min), PHP 5.3.0 (all)`, whereas this is supposed to be compatible with PHP 4.3 at least.

[2015-05-05 06:29] llaville commented on #199
Nice catch, but why so restricted with PHP 4.3; I think it will be at least PHP 4.0

[2015-05-05 06:35] llaville commented on #199
If you're agree with minimum PHP version 4.0.0, you can close this issue.

Thanks again for reporting, and help to improve again php-compatinfo

[2015-05-05 09:41] cmb69 commented on #199
Thanks for fixing so quickly. And yes, PHP 4.0.0 is fine: :)

[2015-05-05 09:41] #199 closed

[2015-05-05 13:22] llaville commented on #189
Commit https://github.com/llaville/php-compat-info/commit/bb043a24b55eb1ed42b31f642bdfbb87a4c3ac02 solved an issue reported https://github.com/sebastianbergmann/phpunit/issues/1707

@remicollet My current results are on my Windows Laptop
[code]
The current printer class for php-compatinfo (27e312d) is configured with Monolog, printing results on CLI console and saving all PHPUnit events in a local

[2015-05-05 15:40] llaville commented on #191
New console (based on a custom version of PHPUnit printer class: see https://github.com/llaville/php-compat-info/issues/189#issuecomment-99076410) , on my windows laptop report

[code]
With all events logged to  `phpunit-phpcompatinfo-php50524-20150505.log` : this is now my base milestone to check optional elements and all others specificities

[2015-05-05 15:44] remicollet commented on #191
Sorry, don't understand your comment.

[2015-05-05 15:47] llaville commented on #191
On my point of view the generic test part with it's new console (PHPUnit printer class based on a logger concept) is now over.
I've now to found a good solution to fix #196, #197, #183, #185

[2015-05-05 15:50] llaville commented on #189
On my point of view the generic test part with it's new console (PHPUnit printer class based on a logger concept) is now over.
Awaiting your feedback, only about this purpose, and not the failed tests that will be proceed in their own issue reports

[2015-05-05 15:51] llaville commented on #193
Results from my windows laptop
[code]
With all events logged to  `phpunit-phpcompatinfo-php50440-20150505.log` : this is now my base milestone to check optional elements and all others specificities

[2015-05-06 11:16] llaville commented on #191
As elements extension that depends of libraries versions.
E.g:  CURLAUTH_ANY is available for lib-curl >= 7.10.6
is also valid for `4.0` branch, I'll solved it on `generictest` branch this afternoon.

@remicollet I'll keep you aware when you could re-run your tests to see if it's ok for you !

In summary the solution I've adopted is as follow :

In references data (json files), a declaration about

[2015-05-06 11:19] llaville commented on #183
Optional elements WILL NOT be solved by solution (see https://github.com/llaville/php-compat-info/issues/191#issuecomment-99420784) that will fixed only library version condition.

[2015-05-06 13:25] llaville commented on #191
@remicollet The solution have just been pushed to repo ( see https://github.com/llaville/php-compat-info/compare/060781da27...25383c620e ), BUT only testable for Curl.
If you want to validate before I apply changes on any other extensions ( intl, libxml, openssl, http )

Thanks in advance

[2015-05-07 08:55] llaville commented on #196
As it not yet possible to know with `ReflectionExtension` API [isPersistent](http://www.php.net/manual/en/reflectionextension.ispersistent.php), [isTemporary](http://www.php.net/manual/en/reflectionextension.istemporary.php), if an extension is bundled with PHP, I've implemented my own solution.

 In the database, there is a new table `bartlett_compatinfo_persistent` loaded with the `data\referenc

[2015-05-07 10:13] llaville commented on #196
With commit https://github.com/llaville/php-compat-info/commit/2753512d2a402d1d19e9b18e3bfd14b8241b2597, history of PHP bundled extensions is completed

[2015-05-07 10:20] #196 closed

[2015-05-11 10:41] llaville commented on #197
This feature will be soon available, just after release of php-reflect 3.1.0 that will propose such base function for all analysers

[2015-05-11 11:16] llaville commented on #197
php-reflect 3.1 has just been release. Filter feature for CompatInfo will be equals to Reflect. See details in http://php5.laurent-laville.org/reflect/blog/

[2015-05-12 16:12] cmb69 opened #200 "goto statement is not checked"
It seems that the usage of the [goto statement](http://php.net/manual/en/control-structures.goto.php) is not checked, but it's only available as of PHP 5.3.0. Consider the following script:

    <?php
    goto end;
    end:

`phpcompatinfo-4.1.0.phar analyser:run .` reports:

    Requires PHP 4.0.0 (min)

[2015-05-12 16:56] llaville commented on #200
Thanks again for reporting Chistoph, and help to improve CompatInfo detection.

To all users: remember that the standard `compatibility` analyser is not a feature analyser, and in such way, it does not print PHP specific features and versions.

[2015-05-13 07:10] #200 closed

[2015-05-18 09:30] llaville commented on #197
No feedback. Sorry but it's now too late ! It will be added in final 4.2.0 without changes

[2015-05-18 09:30] #197 closed

[2015-05-18 09:34] llaville commented on #193
This results are certainly now outdated, and I get no feedback, so it won't be included in final version 4.2.0

[2015-05-18 09:34] #193 closed

[2015-05-18 09:34] llaville commented on #192
This results are certainly now outdated.

[2015-05-18 09:34] #192 closed

[2015-05-18 09:35] llaville commented on #191
This results are certainly now outdated, and I get no feedback, so it won't be included in final version 4.2.0

[2015-05-18 09:35] #191 closed

[2015-05-18 09:36] llaville commented on #189
Seems lack of interest from the community, so t won't be include in future 4.2.0

[2015-05-18 09:37] llaville commented on #183
No solution for 4.2.0; will be delay to another release

[2015-05-18 09:38] llaville commented on #185
No solution for 4.2.0; will be delay to another release

[2015-05-18 09:47] llaville commented on #198
Added a note about `PHP all` column in the user guide (running part).

Whithout feedback (as asked) it's difficult to see if it's enough !

[2015-05-18 09:47] #198 closed

[2015-05-18 10:26] GaryJones commented on #198
I think the documentation does help, thanks :-)

[2015-05-18 10:27] GaryJones commented on #197
Didn't know feedback was required, but next available release is fine, thanks!

[2015-05-18 11:12] llaville commented on #189
Result Printer class for PHPUnit is independant from GenericTest refactoring, and was [included](https://github.com/llaville/php-compat-info/commit/70b9cb434f97343ff1e0f53a6e3ca94adf9d835b) in master branch for future 4.2.0 release

[2015-05-19 23:53] cmb69 opened #201 "PHP_VERSION conditional is not recognized"
Consider the following script:

	<?php

	if (PHP_VERSION >= '5') {
		md5('foo', true);
	}

The second parameter to md5() is only available as of PHP 5.0.0, but the call is guarded by a respective check based on PHP_VERSION. Unfortunately, `phpcompatinfo-4.2.0.phar analyser:run .` reports:

    Requires PHP 5.0.0 (min), PHP 5.0.0 (all)

In my opinion, checking for PHP_VERSION should be generally av

[2015-05-20 05:46] llaville commented on #201
Detecting conditional code is not so easy.
Consider not just your user case, but more generally what to do when a condition is found, and what to do with code below the condition.

[code]

Actually PHP CompatInfo 4.x is not able to handle it, and I dont' think its possible with monolith `compatibility` analyser.

Last week, I've begun to write a new `migration` analyser that checks for forbidden a

[2015-05-20 05:55] llaville opened #202 "Rewrites analysers with Sniffs (ALA PHPCS)"
After analysed project like [monque/PHP-Migration](https://github.com/monque/PHP-Migration), and [wimg/PHPCompatibility](https://github.com/wimg/PHPCompatibility/), last week, I've begun to write a new `migration` analyser that checks for forbidden and deprecated elements (functions, constants, ini directives).

It works pretty well, but I've in mind to refactor all analysers with a sets of Sniffs

[2015-05-20 05:56] llaville commented on #201
RFC is now opened at #202

[2015-05-28 08:46] llaville commented on #202
I've just created (commit https://github.com/llaville/php-reflect/commit/e6e28e8dd4e795699f604ba882bdadc6399daf24) a new branch `sniffer` on php-reflect project to propose the new sniffs base analyser.

[2015-05-28 09:41] llaville commented on #202
As I've already said, I wanted the best of two worlds (PHP-Migration, PHP-Compatibility) to the new analyser structure.

- *PHP-Compatibility* project begin very popular because it used PHP_CodeSniffer and an architecture based on small individual sniffs.

- *PHP-Migration* try to enhance *PHP-Compatibility* with an architecture based on *PHP-Parser* that will parse a source code an build an AST r

[2015-05-28 09:50] wimg commented on #202
It might be interesting to know that PHPCompatibility will be modified in the next few weeks to support an AST, while being able to run within PHP_CodeSniffer AND without it.

[2015-05-28 10:00] llaville commented on #202
Good to know, thanks Wim !
BTW, you may be interested, by some sniffs (using AST) I've already wrote to solve many of your current issues

 * PHPCompatibility issue 24 - $this in closure allowed since 5.4
 * PHPCompatibility issue 35 - anonymous function (PHP 5.3)
 * PHPCompatibility issue 47 - short array syntax (PHP 5.4)
 * PHPCompatibility issue 48 - nowdoc strings  (5.3)
 * PHPCompatibility is

[2015-05-28 10:04] llaville commented on #202
@wimg Oh and why not uses the compatinfo SQLite database. I've already prepared some new stuff (like versions since deprecated) that may be easy to have access to data rather than hard coded in sniffs.

[2015-05-28 10:07] wimg commented on #202
Feel free to send a pull request for any of those fixes.
The goal is to do less hard-coding for the rewrite in any case ;-)

[2015-05-28 10:19] llaville commented on #202
The sniffs I've wrote is based on architecture I've explained here.  E.g

[code]
Each sniff is vert easy to write and very simple, if you excluded logging feature, it will get
[code]
[code]

[2015-05-28 10:24] llaville commented on #202
A better example that used AST and in certains condition the tokens, is
[code]

[2015-06-03 07:19] monque commented on #202
It's a good idea, but I wonder how we handle this condition.

[code]

It will fail "*Syntax error, unexpected T_STRING on line 2*" if we parse it using `Bartlett\Reflect\PhpParser\EmulativeLexer`.

[2015-06-03 08:55] llaville commented on #202
@monque Could you precise running context please ? I've tried it with PHP 5.3.29 and PHP 5.6.9 without getting any error.

[2015-06-03 09:24] llaville commented on #202
@monque Ok I get the context that raise the syntax error

[2015-06-03 09:31] llaville commented on #202
BTW, if you run php lint (`php -l`) on version 5.3 with such source code, it will also gave you a syntax error.

[2015-06-03 09:31] monque commented on #202
sorry for missing context...

run command `php bin/phpreflect analyser:run sample.php migration`
will catch a exception in `src/Bartlett/Reflect.php` line 356

[2015-06-03 09:33] llaville commented on #202
Strange. With PHP 5.3.29 and same command invoked I get something like

[code]

[2015-06-03 09:34] llaville commented on #202
No AST was built, so nothing to analyse

[2015-06-04 10:38] llaville commented on #202
I've modified the `Bartlett\Reflect\PhpParser\EmulativeLexer` to be able to parse native Trait and be compatible with keyword reserved detection.
I've almost finished my tests under PHP 5.3.29 and 5.6.9. Planned to do it also with 5.4.41 and 5.5.25

I'll soon (in few hours) commit the solution in the repo when all tests are done in multiple contexts.
As always, will wait for your feedback

[2015-06-04 11:48] llaville commented on #202
Solution was just commited in repo (https://github.com/llaville/php-reflect/compare/e6e28e8dd4...c8281072da).

Tested with all PHP versions (5.3.29, 5.4.41, 5.5.25, 5.6.9)

Awaiting your own tests results and feedback. Will be greatly appreciated

[2015-06-04 16:34] llaville commented on #202
FYI: invoke following command (on all PHP versions) on current version of a clone of `sniffer` branch in php-reflect

[code]
will print such output
[code]

[2015-06-16 07:34] llaville commented on #202
FYI, incoming release 4.3 will add support of deprecated elements.

To reuse, see commits :

* https://github.com/llaville/php-compat-info/commit/b769074d81a8b7adf4d43a719054b84f1436ebbf for the DB updates
* https://github.com/llaville/php-compat-info/commit/7b5e1d44368657540470ca635c36854c7df0fe88 for tagging deprecated elements in json source data files
* https://github.com/llaville/php-compat-i

[2015-06-16 20:09] verfriemelt-dot-org opened #203 "PDO Exception when missing php5-sqlite on debian"
# ./phpcompatinfo-4.3.0.phar

    [PDOException]
    could not find driver

    list [--xml] [--raw] [--format FORMAT] [--] [<namespace>]

that is all you get, when you do not have sqlite support installed, no hint whats missing what so ever.
i suggest you should add an exception handler for this and print a notice, that sqlite is required to use this tool

[2015-06-17 05:58] llaville commented on #203
I'm very surprised that you may be able to install php-compatinfo 4.3 on your platform without pdo_sqlite extension, due to restriction :

* for composer installation, it's https://github.com/llaville/php-compat-info/blob/master/composer.json#L24
* for fedora, it's https://github.com/remicollet/remirepo/blob/3fe8925a3ebc57c1a6f89fec4d816522542a60f0/php/bartlett/php-bartlett-PHP-CompatInfo/php-bart

[2015-06-17 06:05] remicollet commented on #203
composer of distro package ensure that needed dependencies are available.
but nothing in the .phar mode.

[2015-06-17 06:08] verfriemelt-dot-org commented on #203
indeed,
i found that tool via this page: http://php5.laurent-laville.org/compatinfo/manual/current/en/getting-started.html

and theres nothing stated , that i need sqlite support.
was a bit thumbling around, because i dont use sliqte on my devbox at all and started to google the code, checked the code and found the sqlite usage...

     apt-get install php5-sqlite

and now its working. but it shou

[2015-06-17 06:09] llaville commented on #203
You're right @remicollet , this is why I said

I could probably do something in phpcompatinfo itself.

[2015-06-17 06:10] llaville commented on #203
@verfriemelt-dot-org It's later on user doc http://php5.laurent-laville.org/compatinfo/manual/current/en/user-guide--installation.html

[2015-06-17 06:13] verfriemelt-dot-org commented on #203
if youre using composer. since i was using the phar i just read again "grab it and youre good to go!" ;)

[2015-06-17 06:15] remicollet commented on #203
I don't see any mention about the pdo_sqlite driver ;)

[2015-06-17 06:16] llaville commented on #203
Whatever solution I'll applied to enforce check requirements, did you mention your issue was with Debian ?

[2015-06-17 06:21] verfriemelt-dot-org commented on #203
yea, debian 8

[2015-06-17 10:19] llaville commented on #203
@verfriemelt-dot-org I've not understood that you used the phar version on Debian.

[2015-06-17 10:25] llaville opened #204 "Improve phar distribution"
A short list of enhancements. If you're phar users (windows or linux), and you think that there are some others missing, don't hesitate to share your point of view here

- [x] checks all requirements before auto-diagnose was run. See #203
- [x] ability to load global composer depencies installed that are optional to compatinfo and not embeded in phar distrib. E.g: pear/net_growl

[2015-06-18 13:01] llaville commented on #204
Fallback strategy for class map to load optional dependencies is solved with commit 8f63f2e9409ed0238fdbb516a86303d08aba5920

[2015-06-18 16:37] #203 closed

[2015-06-18 16:39] llaville commented on #204
Commit https://github.com/llaville/php-compat-info/commit/f6cced3eb27d0608c09bc140b2091a2fb03842b6 solved the phar min requirements checking.

[2015-06-22 11:08] llaville commented on #202
I've just pushed/created a new `migration_analyser` branch that use the sniffer architecture hosted in php-reflect project.

The migration analyser is now on php-compatinfo with some sniffs.

@wimg On each sniffs I've added when possible a link to issue in PHPCompatibility project to solve corresponding problem with AST and PHP-Parser.

Run, e.g:
[code]
NOTE: verbose mode level 1 (`-v`)  or 2 (`-v

[2015-06-24 06:11] llaville commented on #204
No feedback since a week. I'll close this issue

[2015-06-24 06:11] #204 closed

[2015-06-28 05:18] remicollet opened #205 "5.6.11 / ldap"
New optional constant: LDAP_OPT_DIAGNOSTIC_MESSAGE introduced in 5.6.11RC1

     --- 5610	2015-06-28 07:15:03.666455142 +0200
     +++ 5611	2015-06-28 07:15:41.907627504 +0200
     @@ -1,4 +1,4 @@
     -Extension [ <persistent> extension #34 ldap version <no_version> ] {
     +Extension [ <persistent> extension #26 ldap version <no_version> ] {

        - INI {
          Entry [ ldap.max_links <SY

[2015-06-28 05:23] remicollet commented on #205
Notice: detected by Fedora CI, aka Koschei

See :
* https://apps.fedoraproject.org/koschei/package/php-bartlett-PHP-CompatInfo
* https://kojipkgs.fedoraproject.org/work/tasks/730/10230730/build.log

[2015-06-29 07:52] llaville commented on #205
Thanks for this alert Remi, I'll have a look later

[2015-06-29 15:58] llaville commented on #205
Commit https://github.com/llaville/php-compat-info/commit/bc9c9abf4ff653105a441f22e9cc99eb816369b3 fixed this issue.

[2015-06-29 16:04] #205 closed

[2015-06-29 16:36] llaville commented on #202
Next version 4.4.0 of php-compatinfo will add a copy of the new `migration` analyser available in current branch `migration_analyser`.

But I'm regret to tell you that I wont add support in next 3 months for this analyser.
After all, with lack of interest (except with monque that I thanks him here: he help me to fix the emulative lexer to detect keywords reserved), I don't think it will be a real

[2015-07-13 07:22] remicollet opened #206 "Failed test with PHP 5.4"
1) Bartlett\Tests\CompatInfo\Reference\Extension\IntlExtensionTest::testGetClassesFromReference
    Class 'IntlException', found in Reference, does not exists.
    Failed asserting that false is true.
    /builddir/build/BUILD/php-compat-info-92ee6348c3059c614b58d9927a21a778b5d7b97e/tests/Reference/GenericTest.php:430
    FAILURES!

[2015-07-13 07:24] remicollet commented on #206
This exception was introduced in 5.5.0

[2015-07-14 18:42] llaville commented on #206
Another difference between Linux and Windows versions :(

[code]

[2015-07-14 18:43] llaville commented on #206
@remi FYI I plan to release a 4.4.1 saturday morning that will fix this issue and other minor that could be detected in next 3 days

[2015-07-14 18:44] llaville commented on #206
@remicollet not  `@remi` (sorry)

[2015-07-14 19:02] llaville commented on #206
@remicollet DB must be rebuilt. Sadly, I cannot test it under a decent Linux platform, and Windows still not detect the difference. Hope you'll have time to check it again. Thanks in advance

[2015-07-17 17:08] #206 closed

[2015-07-18 05:22] remicollet opened #208 "Failed tests current master"
Tested with a71e44cf3fedf16ffbd8d299e824efd72a6b8daa

Fedora 22, php 5.6.11, most extension loaded:

    1) Bartlett\Tests\CompatInfo\Reference\Extension\AmqpExtensionTest::testGetConstantsFromExtension
    Defined constant 'PHP_AMQP_MAX_CHANNELS' not known in Reference.
    Failed asserting that an array has the key 'PHP_AMQP_MAX_CHANNELS'.
    2) Bartlett\Tests\CompatInfo\Reference\Extension\Amq

[2015-07-18 05:43] llaville commented on #208
**So No release 4.4.1 today :(**

To all users: if you want to get the latest fixed planned to be included (see milestone [4.4.1](https://github.com/llaville/php-compat-info/milestones/4.4.1)), so pick up the source code. No PHAR version will be build.

I don't plan to publish new versions on branch 4.4 (currently master) now. Just maintained the source code on repository only.
I'm focus on next m

[2015-07-18 06:14] remicollet commented on #208
I start thinking that the reference database should be maintained as a separated project, so can be updated when needed, without relation to reflect/compatinfo life cycle.

[2015-07-21 17:34] bjork opened #209 "PHP feature detection versions overridden if any function defined after usage"
Declaring a new function seems to reset the versions to default ones, at least for versions updated by PHP features. `computePhpFeatureVersions` calls `updateLocalVersions` with correct versions, but when entering a new function those seem to get lost somehow.

It is easy to test by adding a line `function foo() {}` to the end of any of the test fixtures that `PhpFeaturesIssueTest` uses. All the t

[2015-09-22 20:15] llaville commented on #202
`migration_analyser` branch is now obsolete and replaced by `5.0` for incoming version supporting sniff architecture planned for October 5th

[2015-09-24 12:48] Mte90 commented on #121
The parameter --php not exist anymore in phpcompatinfo 4.x there is a way to check for the minimum version?

[2015-09-24 17:22] llaville commented on #121
Yes used the filter feature - See http://php5.laurent-laville.org/compatinfo/manual/current/en/developer-guide--filters.html

[2015-09-25 10:04] Mte90 commented on #121
Well the command was very useful and fast respect a custom filters.
Maybe create a plugin is better with the configuration in phpcompatinfo.json.

[2015-09-25 11:30] llaville commented on #121
Command was very limited, and filter with closure allow to customize all (or almost) data to return / render.

[2015-10-02 18:57] llaville commented on #209
Sorry to reply so lately, but I was busy with my new job !
I've found a solution today, but I have to do regression tests before to publish new version 4.5.0 that will support also latest PHP 5.6, 5.5, 5.4 versions.

Next step is the release 5.0.0

[2015-10-02 19:10] llaville commented on #208
Remi, I've in mind to publish a new 4.5.0 release sunday evening. Probably they will still have tests failures on different Linux / Fedora versions.

Unit tests are important and I don't wish to minimize this part of my library, but those what are related to Reference are less important (for me) than the main features and old issue regression tests.

I've in last phase of version 5.0 what will inc

[2015-10-02 19:14] llaville commented on #202
branch `5.0` is ready to use the sniff architecture. I need more time to write a user documentation to explain this big new feature of PHP_CompatInfo

php-reflect branch `4.0` should be ready too to support this new sniff arch. As CompatInfo, the user doc is not yet ready to explain, but should be come shortly.

[2015-10-02 19:27] bjork commented on #209
Congrats for the new job!

Let me know if I can help in any way.

[2015-10-03 07:10] remicollet commented on #208
For now, I got (during initDb)

    [RuntimeException]
    Cannot decode file pthreads3.methods.json

[2015-10-03 07:20] remicollet commented on #208
On Fedora 21

     PHPUnit 5.0.3 by Sebastian Bergmann and contributors.

     .............................................................   61 / 1265 (  4%)
     .............................................................  122 / 1265 (  9%)
     .............................................................  183 / 1265 ( 14%)
     .............................................................

[2015-10-03 07:21] remicollet commented on #208
On RHEL-7 (php 5.4.45)

    1) Bartlett\Tests\CompatInfo\Reference\Extension\StandardExtensionTest::testGetFunctionsFromReference
    Function 'php_logo_guid', found in Reference (4.0.0,5.4.44), exists.
    Failed asserting that true is false.

[2015-10-03 07:22] remicollet commented on #208
On RHEL-6 (php 5.4.45)

     1) Bartlett\Tests\CompatInfo\Reference\Extension\CurlExtensionTest::testGetConstantsFromReference
     Constant 'CURLINFO_LOCAL_IP', found in Reference, does not exists.
     Failed asserting that false is true.

     /builddir/build/BUILD/php-compat-info-03c8d2f50e8f3f5472d8f01da153b1cf1fb66932/tests/Reference/GenericTest.php:347

     2) Bartlett\Tests\CompatInfo\Ref

[2015-10-03 07:24] remicollet commented on #208
On Fedora 20 (PHP 5.5.30)

    1) Bartlett\Tests\CompatInfo\Reference\Extension\CurlExtensionTest::testGetConstantsFromReference
    Constant 'CURLCLOSEPOLICY_CALLBACK', found in Reference (4.0.2,5.5.28), exists.
    Failed asserting that true is false.

[2015-10-03 08:09] llaville commented on #208
Thanks for testing Remi, but definitive code is not yet published on repo.

I'm still testing regression group tests that is my priority goal, especially for local fix about https://github.com/llaville/php-compat-info/issues/209.
I know that there are issues with Reference but I will fix it only with 5.0, not 4.5

[2015-10-03 08:11] llaville commented on #208
FYI : Will be in move this two days (no internet connection), and cannot read or push anything before sunday evening.

[2015-10-04 19:00] llaville commented on #208
I've again regressions to fixed, so release 4.5.0 should come only tomorrow evening

[2015-10-04 19:02] llaville commented on #209
Release 4.5.0 was planned today, but it will be delayed to at least 1 more day.

[2015-10-04 21:52] llaville commented on #209
I'll continue tomorrow my tests, (before officially released version 4.5) but it seems fixed now ! If you have time to test on your side, your help will be appreciated.

[2015-10-04 21:56] llaville commented on #208
Unit tests for group `regression` were just been fixed. Tomorrow I'll continue my tests in real applications to see if I found other errors.
I'll also fixed the latest PHP version 5.6.14, 5.5.30, 5.4.45 and generate documentation.

Release 4.5.0 is on good way !

[2015-10-05 05:35] llaville commented on #208
I'll try to fix References in few hours, unless someone found a regresssion in current source code of version 4.5 available in repo.

[2015-10-05 19:25] llaville commented on #208
Pthreads and Ldap References were fixed for Release 4.5.0

[2015-10-05 19:53] #209 closed

[2015-10-07 04:35] remicollet opened #210 "Regression in 4.5 : missing extensions"
Working on mikey179/vfsStream lot of extension are missing in **Extensions Analysis**

     --- 440.txt	2015-10-07 06:25:30.000000000 +0200
     +++ 450.txt	2015-10-07 06:25:59.000000000 +0200
     @@ -6,26 +6,20 @@

      Extensions Analysis

     -    Extension Matches REF      EXT min/Max     PHP min/Max PHP all
     -    Core              Core                     4.0.0       5.3.0
     -    da

[2015-10-07 05:00] remicollet commented on #210
There is also a small output between "official" 4.5 and RPM version (where reference DB is re-generated)

      Interfaces Analysis

     -    Interface                               Matches REF  EXT min/Max     PHP min/Max PHP all
     -    Iterator                                1       spl  5.1.0 => 5.2.17 5.1.0
     +    Interface                               Matches REF  EXT min/Max PHP min/

[2015-10-07 05:24] llaville commented on #210
I'll have a deeper look later, probably tomorrow evening, but I confirm the regression :(

[2015-10-07 05:33] llaville commented on #210
Remi, to help me, could you send me a full report produced with the RPM distrib 4.4.0 and 4.5.1 in text file.
TIP: I used myself the `--output` option like this

[code]
With `phpcompatinfo.json` declaration such as
[code]
But you will probably excludes test files from scanning, with
[code]
Thanks in advance

[2015-10-07 05:40] llaville commented on #210
Oh, and I forgot. Please specify which vfsStream distrib you've scanned (1.6.0 or other) and the PHP version used in your platform.

[2015-10-07 05:46] remicollet commented on #210
vfsStream 1.6.0 (vfsStream-73bcb605b741a7d5044b47592338c633788b0eb7)
php 5.6.14

[2015-10-07 18:51] llaville commented on #210
I've added also the standard vsfStream 1.6 distrib in zip format (see commit https://github.com/llaville/php-compat-info/commit/5667d19b4da8e27f9fd8de96a5a9d0e93d596d61)
License is compatible, and this test may be excluded if necessary: added `@group large`

[2015-10-07 19:56] llaville commented on #210
There are perharps other issues, but this one was fixed. Extensions are back !

[2015-10-08 04:53] remicollet commented on #210
I confirm 4.5.0 + bcd5f85 and extensions are back.

[2015-10-08 04:59] remicollet commented on #210
@llaville do you plan a quick 4.5.1 or should I rebuild with the patch ?

[2015-10-08 05:05] llaville commented on #210
Unless you found something wrong again, in the next 24 hour, I plan to release the 4.5.1 tomorrow.
Is it acceptable for you ?

[2015-10-08 05:07] remicollet commented on #210
Yes, perfect.

[2015-10-08 05:08] remicollet commented on #210
Notice: my comment https://github.com/llaville/php-compat-info/issues/210#issuecomment-146077967 can worth a look. Nothing really serious, which could probably be mostly fixed by an "ORDER" clause in the sqlite request.

[2015-10-08 05:30] llaville commented on #210
Seems working, but we should probably extended it  to all references elements and not such interfaces.
I need more time and regression test before to valid it and include in upcoming 4.5.1
I won't have another regression (stability IS first order ;-)

[2015-10-09 18:10] llaville commented on #210
I confirm that your comment about Iterator interface versions will not be included in incoming release 4.5.1
I want to have a better feedback on multiple contexts (use cases).

[2015-10-09 18:13] #210 closed

[2015-10-10 08:02] llaville commented on #208
To solve issues related only to DB info, I've definitively adopted point of view of you @remicollet .

Next release 4.6.0 and 5.0.0 (what are delayed now) will use a new project `php-compatinfo-db`.
Same concept as PECL timezonedb.

I'll begin to work on this in next two days, and I should proposed an alpha version very soon now.

If you've other idea that could be integrated, dont' hesitate to sh

[2015-10-10 08:19] llaville commented on #185
Will be part of new project. See https://github.com/llaville/php-compat-info/issues/208#issuecomment-122490988, and https://github.com/llaville/php-compat-info/issues/208#issuecomment-147059222

[2015-10-10 08:23] llaville commented on #183
Will be incuded in new project `php-compatinfo-db`. See announcement in https://github.com/llaville/php-compat-info/issues/208#issuecomment-147059222

[2015-10-10 08:31] llaville commented on #208
Empty project https://github.com/llaville/php-compatinfo-db was initialized.

[2015-10-10 08:46] llaville commented on #189
Will be part of new project. See https://github.com/llaville/php-compat-info/issues/208#issuecomment-122490988, and https://github.com/llaville/php-compat-info/issues/208#issuecomment-147059222

[2015-10-10 08:46] llaville commented on #189
Idea re-activated

[2015-10-13 17:25] llaville commented on #208
Use of external project is considered as API BC break, so it won't be included in a 4.x series. Will be only available for 5.0

[2015-10-13 17:26] llaville commented on #189
Use of external project is considered as API BC break, so it won't be included in a 4.x series. Will be only available for 5.0

[2015-10-13 17:26] llaville commented on #185
Use of external project is considered as API BC break, so it won't be included in a 4.x series. Will be only available for 5.0

[2015-10-13 17:26] llaville commented on #183
Use of external project is considered as API BC break, so it won't be included in a 4.x series. Will be only available for 5.0

[2015-10-13 18:09] llaville commented on #208
Branch 5.0 is available for testing with php-compatinfo-db
I've not yet removed all components from php-compatinfo, but it used equiv in php-compatinfo-db

No more changes than just extract elements and transfer them to php-compatinfo-db. unit tests are still ok, without more supports as expected in final version.

[2015-10-19 22:33] sudo-web opened #211 "PHP 5.6 **-Operator not recognized"
Since PHP 5.6 there is the a alternative to the pow (Exponential expression)
e.g. you can use the ***-*Operator like this `10 ** 3` insted of `pow(10, 3)`
Unfortunately it is not recognized by php-compat-info Version 4.5.1

[2015-10-20 10:58] llaville commented on #211
Currently only supported on branch 5.0 with migration analyser

[2015-10-20 17:49] llaville commented on #189
Avaiable on php-compatinfo-db project. See https://github.com/llaville/php-compatinfo-db/commit/a1c6707eaf7e273bc9bcc98a737e2234d0ec1b1c

[2015-10-20 17:51] llaville commented on #211
I'll see how I can solved in 4.5 branch (currently master), for a possible 4.5.2
There won't have any 4.6 version.  Next one is 5.0

[2015-10-21 18:37] llaville commented on #189
php-compatinfo-db with its 105 extensions and at least 4800 unit tests is long if you consider to run standard PHPUnit version 4 or 5. Reason is PHPUnit counts all tests before to execute them.

I've found an alternative with phing. See https://github.com/llaville/php-compatinfo-db/commit/23230c749bc92efb29a15a7137d06fb08280a9ea
Beware of PHPUnit issue linked.

[2015-10-21 18:43] #189 closed

[2015-10-28 19:35] #202 closed

[2015-10-28 22:11] llaville commented on #211
When Exponentiation is used as argument of function/method, CompatInfo 4.5.1 already detect it

[code]

But not yet with this syntax

[code]

[2015-10-28 22:28] llaville commented on #211
Solution available with fix https://github.com/llaville/php-compat-info/commit/b871a8244864164b0e90d0340ec28b860efe8a17

Will be part of future 4.5.2 (no date planned yet)

[2015-10-29 18:41] llaville commented on #208
As references are now extracted and transfered to php-compatinfo-db, if other issues exists, please open new bug report on project https://github.com/llaville/php-compatinfo-db

[2015-10-29 18:41] #208 closed

[2015-10-29 22:39] llaville commented on #183
Feature was introduced in php-compatinfo-db. See https://github.com/llaville/php-compatinfo-db/commit/dde205117c01bdfab3a5f2ef170446942e5b9cbd
Only constants are supported, and cURL extension referenced these first optional constants. See https://github.com/llaville/php-compatinfo-db/commit/7e1beec4370075c5fbe3cbc1ced691b6ecf4dea3

TestCase should, and will be clean-up in next days

[2015-10-29 22:45] llaville commented on #183
Communications continue on php-compatinfo-db project / issue

[2015-10-29 22:45] #183 closed

[2015-11-03 03:09] patval opened #212 "Incoherent Min, Max and All values"
Hi,

I'm new to Linux/PHP so sorry if my question is trivial.

I get contradicting information at the end of the php-combat-info report:

`Total [311]       5.3.0 => 4.4.9`
`Requires PHP 5.5.0 (min), PHP 4.4.9 (max), PHP 5.5.0 (all)`

Question: What is the real highest PHP version I can use ?

Thanks a lot for your help :)

Here's a dropbox link to the full report (txt file): https://www.dropbox.c

[2015-11-03 18:54] llaville commented on #212
Hello @patval

First,
consider always to give your platform env (PHP version, Linux or Windows) and of course version of application you used. It's always true for all PHP soft and not just on CompatInfo. It will help lead dev to learn more about context issue.

Second,
If you've analysed an open source code, please give an URL. Otherwise if it's a private application, could you give me how the `d

[2015-11-03 19:32] #211 closed

[2015-11-03 19:34] patval commented on #212
Hi,

my php version is:

PHP 5.4.45-0+deb7u2 (cli) (built: Oct 17 2015 08:26:31)
Copyright (c) 1997-2014 The PHP Group
Zend Engine v2.4.0, Copyright (c) 1998-2014 Zend Technologies

Linux:
PRETTY_NAME="Debian GNU/Linux 7 (wheezy)"

The version of compatinfo I used is 4.5.1

The application I’m using is a private application (that was done 5-6 years ago and I have no access to developper now).

As

[2015-11-03 19:44] llaville commented on #212
`T_ML_COMMENT` was a constant used by the php tokenizer extension introduced in version PHP 4.2 and removed in version PHP 4.4.9
This is the reason of php max. But if your constant is conditionnaly used, it should not be counted in php.max (probably). But without source code example, I can't see the real use case and propose a fix for this situation. Hope you understand !

[2015-11-03 19:55] patval commented on #212
Ok, I understand. What I can tell you though is that that code is currently running fine on another server that has PHP 5.3.3. So I am convinced the T_ML_COMMENT is not an issue.

However, in the results that I initially got from combat info, one line mentions 5.3.0 and the other mentions 5.5.0 as "min" or "all". I don't know what that means.

I have a new server I would like to move the site to,

[2015-11-03 20:06] llaville commented on #212
You have to investigate yourself on components that were marked 5.5.0 min to see if it's really required or not.
To help you, consider to use the filter feature ( http://php5.laurent-laville.org/compatinfo/manual/current/en/developer-guide--filters.html ), there is an example that reduced reports to all elements >= 5.0.0 (change it to 5.5.0) and use the verbose mode level 2

[code]

[2015-11-03 20:09] patval commented on #212
Thanks a lot Laurent.

I understand I am really too unexperimented to investigate my issue with your tool.

I really appreciate the help though.

Have a good day

Pat

[2015-11-18 23:59] Mte90 commented on #121
an example for create a check by parameters?

[2015-11-19 06:16] llaville commented on #121
I am not sure  to have well understood your needs. Coul you explains more please ?

[2015-11-19 10:29] Mte90 commented on #121
like in the old version, with a parameter choose the minimum php version to scan

[2015-11-19 19:10] #212 closed

[2015-11-20 06:24] llaville commented on #121
The filter feature available in version 4.x offer much more possibily that `--php` option on `analyser:run` in version 3.x
While in version 3 you could only filter results on  PHP versions, v4 allow you to filter all parts of result report.  This is the main reason that there is no equivalent with `--php` option.

Please use, `--filter` option in command line as explained in doc (already reference

[2015-11-20 11:05] Mte90 commented on #121
Thank you!
I have updated the instructions https://github.com/Mte90/WordPress-Plugin-Boilerplate-Powered/wiki/How-use-the-Scripts-and-CLI-tools and added a file in my project.

[2015-12-03 06:38] jack126guy opened #213 "Static methods and properties accessed through a variable are not detected"
The following code is reported as requiring PHP 5.0.0. However, accessing static methods and properties through a variable with the class name was added in PHP 5.3.0.

[code]

[2015-12-03 09:02] llaville commented on #213
Backport to branch 4.5 is planned later. Major version 5.0 (stable) is planned for saturday (+2 days now)

[2015-12-05 08:11] llaville commented on #186
Will be add later in 5.1, because I've no free time to have a chance to implement these sniffs.
And as I want to release today the final stable version 5.0 of php-compatinfo with sniff architecture and its new migration analyser.

[2015-12-21 01:51] FlorentPaillot opened #214 "phar file: Call to undefined function"
I have downloaded the phar file v5.0.0 and ran "php phpcompatinfo-5.0.0.phar --version" and got the following error message:

     PHP Fatal error:  Call to undefined function Bartlett\Reflect\Console\fnmatch() in phar:///volume1/web/lib/test/phpcompatinfo-5.0.0.phar/vendor/bartlett/php-reflect/src/Bartlett/Reflect/Console/CommandFactory.php on line 84

     Fatal error: Call to undefined function

[2015-12-21 21:51] llaville commented on #214
Sorry, but I can't reproduced this issue:
I got this output with PHP 5.6.16
[code]

[2016-01-07 04:58] jack126guy commented on #213
:+1:

Unfortunately, the issue is only partly solved. The case of a static *method* is handled, but not a static *property*. Perhaps I should have split my test file into two:

[code]

[code]

[2016-01-07 05:46] jack126guy opened #215 "PHP 5.6 constant expressons vs. static values is not detected in some cases"
[PHP 5.6 allows scalar expressions when previously only static values were allowed](http://php.net/manual/en/migration56.new-features.php) ("Constant expressions" section).

This is detected in the case of constants declared with `const`, but not for class properties or default function arguments.

For class properties, it is reported as requiring PHP 5.0.0:
[code]
[3v4l.org test](http://3v4l.org/

[2016-01-09 14:28] remicollet opened #216 "[RFE] display DB version"
Instead of additionnally to its date.

[code]

[2016-01-11 12:17] llaville commented on #216
FYI:  the version is already available with the `reference:list` command.

[2016-01-11 12:33] remicollet commented on #216
Reference Database Version => 2016. 109.151956

This doesn't look like the version.

[2016-01-26 22:03] joshuaspence opened #217 "Include trait data"
I am using this library to extract PHP compatibility information, which I am essentially storing in a JSON file. In order to do this, I have some code that looks like this:

[code]

It seems, however, that there is no `trait` key in the `$result` data. Is it intentional that this data has been omitted?

[2016-02-05 21:56] llaville commented on #214
No feedback. I close this issue

[2016-02-05 21:56] #214 closed

[2016-02-08 02:19] FlorentPaillot commented on #214
Hi,

Sorry for the late reply. The problem was related to a missing extension. I had
to wait until I could update the server (A Synology NAS) to get that missing
extension.

Regards,
Florent

On Sat, Feb 06, 2016 at 8:26 AM, Laurent Laville < notifications@github.com [notifications@github.com] > wrote:
No feedback. I close this issue

—
Reply to this email directly or view it on GitHub
[https://gi

[2016-02-10 14:41] c33s opened #218 ""::class" not detected as php 5.5"
it looks like the detection of "::class" is not working correctly. the ::class was introduced with php 5.5 http://php.net/manual/en/language.oop5.basic.php

i tried php-compat-info on the project https://github.com/vworldat/ContactFormBundle/issues/4 where it detected version 5.3

[2016-02-23 14:16] jyggen opened #219 "Minimum PHP version wrong?"
A couple of times over the past year (and once again today) I've used phpCompatInfo on a project and I really can't tell if I'm reading the output wrong or if the tool is bugging on me.

Here's an excerpt of the report:

[code]

As seen the project is using `json_last_error_msg()` which was introduced in 5.5 (correctly stated under PHP min/Max). At the bottom however it says that the minimum PHP v

[2016-02-23 21:49] llaville commented on #115
Commit https://github.com/llaville/php-compat-info/commit/8e44d57b245343c186652618781a24d866199164 was for issue 215 and not this one

[2016-02-23 21:50] llaville commented on #215
https://github.com/llaville/php-compat-info/commit/8e44d57b245343c186652618781a24d866199164 fixed this issue (wrong label 115)

[2016-02-23 21:50] llaville commented on #215
Sorry for late reply and fixe.
Thanks for reporting this issue !

[2016-02-23 21:51] #215 closed

[2016-02-23 21:56] llaville commented on #217
Yes, it's normal. None extension currently supported (referenced) by php compatinfo did not provide any Traits.

Sorry for late reply

[2016-02-23 22:15] llaville commented on #218
Sorry for late reply. This has just been fixed: see commit ed426da

[2016-02-23 22:15] #218 closed

[2016-02-23 22:15] #217 closed

[2016-02-23 22:18] llaville commented on #219
Could you provide code or part of it that reproduced this issue please ?

[2016-02-23 22:41] jyggen commented on #219
Absolutely. I'll try to isolate/reproduce it tomorrow.

[2016-02-25 11:34] jyggen commented on #219
The following code reports 5.0 as minimum and all:

[code]

If I remove the method `getFoobar()` it'll correctly report 5.5. If I move `getFoobar()` above `decodeBaz()` it'll also correctly state 5.5, so it seems like it only takes the last method in the class into consideration.

[2016-02-25 12:24] llaville commented on #219
Thanks for the code sample : I'll have a look on it and reply to you ASAP

[2016-02-27 07:22] llaville commented on #219
I'll analysed your code chunk with current code of branch 5.1, and it's reported as expected PHP 5.5

Please give it a try and reply to me if I may or not close this issue !

[code]

[2016-02-29 14:58] jyggen commented on #219
`phpCompatInfo version 5.1-dev DB built Feb 05 2016 22:19:07 CET` does indeed report PHP 5.5.

[2016-02-29 19:36] #219 closed

[2016-05-20 06:22] NemoStein opened #220 "Using "$2y$" (Blowfish) on crypt doesn't trigger version 5.3.7"
Since 5.3.0, PHP contains implementations for some algorithms used in crypt.
From the docs:

But Blowfish $2y$ is available since PHP 5.3.7

PHP CompatInfo doesn't recognize this and doesn't report crypt as 5.3.7, nor 5.3.0, but 4.0.0 instead.

[2016-05-20 17:11] llaville commented on #220
Could you provide a little sample script please ?

[2016-05-20 17:44] NemoStein commented on #220
[code]

[2016-05-20 18:43] llaville commented on #220
Thanks a lot for all these details. I'll fix it ASAP !

[2016-05-25 17:39] llaville commented on #220
A bit busy these past days, but I've finally found a solution.

[2016-05-28 05:45] #220 closed

[2016-06-03 02:23] NemoStein commented on #220
This one was really easy to reproduce.
Just using a variable or concatenating a string to another breaks the analyser.

[code]

[2016-06-03 05:18] llaville commented on #220
Sorry but this kind of code (with indirect reference) is impossible to detect by CompatInfo 5.1
This is not only for this case. All others that used variables as argument cannot be checked.

[2016-06-03 13:30] NemoStein commented on #220
Oh, I see... Thank you for explaining. =]

[2016-06-09 02:31] FlorentPaillot opened #221 "Short array syntax not recognised"
I am using PHP 5.6 and php-compat-info 5.0.0.

When running...

$ php56 /usr/bin/php-compat-info analyser:run src/Router.php

...I got the following report:

"Requires PHP 5.3.0 (min), PHP 5.3.0 (all)"

However, Router.php includes short array syntaxes introduced in PHP 5.4.

Is there any reason why php-compat-info doesn't say that the minimum PHP version required should be 5.4.0?

[2016-06-09 05:09] llaville commented on #221
Could you provide code link (if open source project) or a chunk of code that use the code that seems undetected, please ?

[2016-06-10 03:24] FlorentPaillot commented on #221
Here is a bunch of tests.

First, I created one test per use case where the short array syntax is used in my original code.

Second, I compiled this use cases so the code looks like my original code. It is a very simplistic reproduction of the original structure.

1/ FAILED. The report says "Requires PHP 5.0.0 (min), PHP 5.0.0 (all)".
[code]
2/ FAILED. The report says "Requires PHP 5.0.0 (min), PH

[2016-06-10 05:21] llaville commented on #221
Thanks for these tests cases. I'll have a look ASAP

[2016-06-30 19:06] llaville commented on #221
Sorry to reply so lately, but I've not yet have time to have a look on this issue until now.

I've tested first two cases that failed for you, and I got succeeded results both on compatinfo 5.0 and 5.1-dev with PHP 5.6.22 (and compatinfo DB 1.5.0).

I'll have a more deepthly view this week-end, to see if I've forgotten something

[2016-07-01 01:10] FlorentPaillot commented on #221
Her is a copy of what I got in the terminal. I checked again the PHP version, phpCompatInfo version and ran all the tests.

Let me know if I can provide more information.

The Linux machine is a Synology NAS.
[code]

[2016-07-02 08:48] llaville commented on #221
Ok it seems that the php-compatinfo 5.0.0 phar distribution reproduces those issues.

If you clone the source code branch 5.0 and update recents dependencies, you will have no issue. It's my case (on my side).

Try this solution, in waiting for a 5.0.1 release with all others issues fixed in 5.1-dev that I should be able to backport to 5.0.x

[2016-07-02 08:55] llaville commented on #221
A tip for all users that used the PHAR version of compatinfo, and want to see what dependencies are included.

Use the `--manifest` switch, like this :    php phpcompatinfo.phar --manifest

[2016-07-04 11:08] FlorentPaillot commented on #221
Thanks for the update.

I cloned the source code and updated the dependencies. I looked at the user guide for a way of using the code as it is to parse scripts, but I only find instructions on how to use the phar version.

Any hint on how I can parse my script without the phar?

[2016-07-04 11:24] llaville commented on #221
Yes, of course. Replace the command `php phpcompainfo.phar` by `php vendor\bin\phpcompatinfo` from your recent refresh git clone repo

[2016-07-05 02:12] FlorentPaillot commented on #221
Thanks. It took me a little while to find that bin file because it wasn't in ./vendor/bin but in ./bin.

I parsed all the test files and phpcompatinfo specified that the minimum PHP version is 5.4.0 for all of them!

On Mon, Jul 04, 2016 at 8:54 PM, Laurent Laville < notifications@github.com [notifications@github.com] > wrote:
Yes, of course. Replace the command php phpcompainfo.phar by php vendor

[2016-07-05 04:19] llaville commented on #221
Nice to hear it ! But as I previously said, I'll backport recent issues fixed in 5.1-dev and build a new stable version 5.0.1 this week. Stay tuned !

[2016-07-05 04:20] #221 closed

[2016-07-05 21:50] llaville commented on #221
FYI compatinfo 5.0.1 has just been released

[2016-07-06 01:09] FlorentPaillot commented on #221
Thanks. I got it.

[2016-07-06 01:10] FlorentPaillot commented on #221
Thanks. I got it.

[2016-07-06 01:10] FlorentPaillot commented on #221
Thanks. I got it.

[2016-07-06 01:10] FlorentPaillot commented on #221
Thanks. I got it.

[2016-07-06 01:10] FlorentPaillot commented on #221
Thanks. I got it.

[2016-07-06 15:23] remicollet commented on #216
FYI, fixed in Fedora packages:

[code]

* http://pkgs.fedoraproject.org/cgit/rpms/php-bartlett-php-compatinfo-db.git/tree/php-bartlett-php-compatinfo-db-1.2.0-rpm.patch#n14
* http://pkgs.fedoraproject.org/cgit/rpms/php-bartlett-PHP-CompatInfo.git/tree/php-bartlett-PHP-CompatInfo-5.0.0-rpm.patch#n88

[2016-09-08 07:28] trasher opened #222 "Negative constants marked as PHP 5.6"
Hello,

When running compatinfo againt a class that contains negative constants, the minimum php version it set to 5.6.0; wich sounds incorrect.

For example with:
`<?php
class Foo {
	const BAR = -1;
}` ?>

We get the following:

     % phpcompatinfo analyser:run ./test.php
    [...]
    Namespaces Analysis

        Namespace Matches REF  EXT min/Max PHP min/Max PHP all
        +global           C

[2016-09-08 13:38] mikerockett opened #223 "DateInterval marked as PHP 5.6?"
I'm busy trying to ensure that a CMS module I'm writing is compatible with PHP 5.4. When validating nesbot/Carbon, specifically `CarbonInterval`, php-compat-info reports a minimum version of PHP 5.6 for [`DateInterval`](http://php.net/manual/en/class.dateinterval.php), which actually has a minimum version of 5.3.

[code]

[2016-09-18 19:55] llaville commented on #222
Just back from hollidays. I'll have a look tomorrow !

[2016-09-18 19:55] llaville commented on #223
Just back from hollidays. I'll have a look tomorrow !

[2016-09-19 11:24] llaville commented on #223
Just downloaded https://github.com/briannesbitt/Carbon/releases/tag/1.21.0 and scanned `src` directory.

With PHP 5.6 (on windows) with CompatInfo clone branch master

[code]
I cannot reproduce this issue

My class Analysis report gave me

[code]

Can you tell me what version of CompatInfo distribution you used please ?

Platform (Windows / Linux), PHP version, compat info (phar or not) version :

[2016-09-19 13:24] mikerockett commented on #223
Hmm, I've just re-downloaded compat info, and I'm not getting the same results as you're getting... I landed up going a different road (PHPCS), and so I deleted the phar that was used. Now, running 5.0.0 and Carbon `~1.0` (I assume that means latest on 1.x branch?), I get the following:

[code]

Actually, it appears to be a little different to yours as my `CarbonInterval` says 5.3, and yours says

[2016-09-19 20:52] llaville commented on #222
Commit c5eb362 fixed the problem.

[2016-09-19 21:07] llaville commented on #223
Fixed with issue #222 because Carbon 1.21.0 have unary minus class constant. See https://github.com/briannesbitt/Carbon/blob/master/src/Carbon/CarbonInterval.php#L91

[2016-09-19 21:09] llaville commented on #223
Code is already available on branch 5.0 of CompatInfo

[2016-09-19 21:11] #223 closed

[2016-09-20 11:19] #222 closed

[2016-09-20 11:46] trasher commented on #222
Thank you :)

[2016-09-22 17:38] glensc opened #225 "security: uses db from known path"
the tool uses sqlite database from known path `/tmp/bartlett/compatinfo.sqlite`.

this has several issues:
1. malicious user could replace the file filling it with bogus data causing damage elsewhere because the data was modified in the db
2. malicious user could replace file with corrupted version exploiting security holes in sqlite driver itself
3. other user in system could unknowingly prevent

[2016-09-22 17:40] glensc commented on #225
error when `/tmp/bartlett/compatinfo.sqlite` is not accessible:

[code]

[2016-09-22 17:42] glensc commented on #225
suggestion:

do not use world writable dirs with fixed names for storing state data (temporary files created with [tempnam](http://php.net/tempnam) are ok), use user's `$HOME` for such data, perhaps some packagist library implementing xdg spec: https://packagist.org/search/?q=xdg

[2016-11-22 19:00] llaville commented on #216
Good new : will be soon available

[2016-11-22 19:23] llaville commented on #216
Release 5.0.2 is on good way for a publication very soon now.

Previous commit on branch 5.0, allow to have such result

phpCompatInfo version 5.0-dev DB version 1.15.0 built Nov 19 2016 16:19:38 CET

[2016-11-22 19:24] #216 closed

[2016-12-21 14:56] dennisverspuij opened #226 "5.0.2 phar does not detect yield / generators"
Hello, first of all thanks for this great utility!
When I run the phpcompatinfo-5.0.2.phar downloaded from your website on files with generators it does not seem to raise the minimum PHP version to 5.5.0 . For example running on the following code I get 4.0.0 as minimum version:
[code]

What am I doing wrong?

Auto-Diagnose:

Checking php settings:
- Requires PHP 5.4.0 or better OK
- php.ini file

[2017-01-10 12:02] llaville commented on #226
Sorry for delay to reply. Much work at office, and less free times now !
I'll have a look this evening and I hope to publish a fix soon

[2017-01-10 19:53] llaville commented on #226
Thanks for reporting. The new version 5.0.3 will be released in few minutes !

[2017-01-10 20:45] #226 closed

[2017-01-11 08:32] dennisverspuij commented on #226
Fantastic, works, thanks!

[2017-01-12 13:52] dennisverspuij opened #227 "use trait requires PHP 5.4.0"
Hi Laurent, I found another one, analyzing the following code should return PHP 5.4.0 as minimum for traits support (use statement in class), instead it returns 4.0.0:
[code]
Thanks

[2017-01-12 21:05] llaville commented on #227
Thanks for this new bug report. Will fix it and release new version next monday (16)

[2017-01-16 21:19] llaville commented on #227
Just been released new version 5.0.4. Thanks again Dennis for bug reporting !

[2017-01-16 21:19] #227 closed

[2017-01-17 09:16] dennisverspuij commented on #227
You thanks again!

[2017-02-27 09:18] llaville commented on #225
Hello @glensc

I've not forgotten your report; thanks !
I've finally have time to have a look on it and implement a solution yesterday.

I should be able to publish it this week.
As this issue is related to another package that handle the database, I'll close this one, and link them

[2017-02-27 09:20] llaville commented on #225
To follow on package php-compatinfo-db issue

[2017-02-27 09:20] #225 closed

[2017-03-11 15:51] cmb69 opened #228 "`const FOO = null;` does not require PHP 5.6.0"
Consider the following PHP file:
[code]
Running `php phpcompatinfo-5.0.4.phar analyser:run .` yields:
[code]
However, this syntax is [valid as of PHP 5.3.0](https://3v4l.org/4LLGD).

Note that `const FOO = false;` and `const FOO = true;` are also erroneously reported to require at least PHP 5.6.0.

[2017-03-16 21:55] llaville commented on #228
Just been released new version 5.0.5. Thanks Christoph for bug reporting !

[2017-03-16 22:04] #228 closed

[2017-03-17 08:16] cmb69 commented on #228
Thanks, Laurent, for fixing this so fast! :)

[2017-03-17 08:29] cmb69 opened #229 "$this in closures not properly detected"
While closures are supported as of PHP 5.3.0, the `$this` binding inside closures [requires PHP 5.4.0](https://3v4l.org/MrNBj).

Test script:
[code]
Running php phpcompatinfo-5.0.5.phar analyser:run . yields:
[code]
It would be great if it is possible to detect that this code requires at least PHP 5.4.0.

[2017-03-22 15:39] bestshow opened #230 "PHP CompatInfo – Cross-Site Scripting (XSS)"
Product: PHP CompatInfo
Download: https://github.com/llaville/php-compat-info
Vunlerable Version: 5.0.5 and probably prior
Tested Version: 5.0.5
Author: Haojun Hou in ADLab of Venustech

Advisory Details:
A Cross-Site Scripting (XSS) was discovered in “PHP CompatInfo 5.0.5”, which can be exploited to execute arbitrary code.
The vulnerability exists due to insufficient filtration of user-supplied d

[2017-03-22 23:27] llaville commented on #230
Sorry, but non sense on test fixtures code that are for demo purpose only

[2017-03-22 23:27] #230 closed

[2017-03-27 10:53] llaville commented on #229
Just been released

[2017-03-27 10:53] #229 closed

[2017-04-19 15:41] cmb69 commented on #229
Thanks for fixing so quickly! :)

[2017-06-05 05:24] jack126guy opened #231 "Closures that work in PHP 5.3 are reported as requiring 5.4"
The following code works on PHP 5.3 ([confirmation on 3v4l.org](https://3v4l.org/fS3p0)) but PHP CompatInfo 5.0.6 reports it as requiring PHP 5.4:

[code]

I believe this is a result of the fix for #229: It seems that *any* variable in a closure triggers the "upgrade" to a 5.4 requirement.

[2017-06-05 05:28] jack126guy commented on #231
It does not even have to be a parameter. The following code is also reported as requiring PHP 5.4, even though it works in 5.3 ([3v4l confirmation](https://3v4l.org/UjEBK)):

[code]

[2017-06-07 04:21] llaville commented on #231
Hello,
Thanks for this analysis. I think your're right about origin of regression (issue #229 ).
I'll try to fix it tonight, just after released a new php-compatinfo-db (add support to php 7.0.19).

thanks for reporting

[2017-06-07 10:09] remicollet commented on #231
You mean 7.0.20 ?   (release on June 8th)

[2017-06-08 06:33] llaville commented on #231
@remicollet I 've forgotten to release the php-compatinfo-db 1.21 that support PHP 7.0.19
So I'll do it right now; But I'll try to publish a new version 1.22 that will support PHP 7.0.20 (today release) this saturday morning.

[2017-06-08 06:45] llaville commented on #231
php-compatinfo-db 1.22 just been released. Next one will include support of PHP 7.0.20 but also the same behavior for sqlite database. Store in same directory either for phar or standard distrib (user `.bartlett` folder)

[2017-06-10 08:18] llaville commented on #231
I've just been released php-compatinfo-db 1.22.0 and forget to add new behavior (see previous comment).
DB in same folder : see also https://github.com/llaville/php-compatinfo-db/issues/9

Will be for next version now.

I'm on my way to release the php-compatinfo 5.0.7 in few minutes now !

[2017-06-10 08:48] #231 closed

[2017-06-16 00:00] JWZH opened #232 "Support class constants"
Class constants of extensions are stored in [php-compatinfo-db](https://github.com/llaville/php-compatinfo-db), but they are not analysed in php-compat-info yet. Can we also analysis class constants ?

[2017-06-16 04:13] llaville commented on #232
Can you provide a use case (with script example) please ?

[2017-06-16 04:22] JWZH commented on #232
Actually we are using `php-compat-info` to retrieve all the defined built-in symbols in PHP.
[code]
Would you recommend us to use `php-compatinfo-db` directly ?

[2017-06-16 05:25] llaville commented on #232
Thanks to provide this use case. I know now what you want to get !

`php-compatinfo-db` is able to return class constants, but your're right not yet `php-compatinfo` 5.0.x

Will do it for the next release.

[2017-07-17 13:56] llaville commented on #232
Release 5.0.8 will be publised tonight. php-compatinfo-db 1.23 was already released with some updates and new feature : same commands implemented in php-compatinfo (better location on my own opinion).

For examples.

php data/handleDB.php db:list

php data/handleDB.php db:show spl --class-constants

[2017-07-17 17:36] llaville commented on #232
Just been released. Thanks for reporting !
Don't forget that commands are also available now on `php-compatinfo-db` package too

[2017-07-17 17:36] #232 closed

[2017-08-08 13:48] CybotTM opened #233 "PHP 7 requirement not detected for return type hint"
PHP CompatInfo does not detect PHP 7 minimum requirement for return type hint.

With following source code file:
[code]

i would expect PHP CompatInfo returns PHP 7 as minimum, but it does report PHP 5.0.0 as minimum:

[code]

[2017-08-09 08:13] llaville commented on #233
Hello
Thanks for reporting this issue. BTW, be aware that I've beginning to write a new Major version 6.0 that will be independant of php-reflect and will support PHP 7.0, 7.1, and future 7.2

Branch 5.0 is features closed. I'll drop branch 5.1, that was an attempt to include a new architecture based on sniffs.
Branch 6.0 will be soon available with an alpha version and a rewrites of monolithic Co

[2017-09-17 19:22] henno opened #234 "There are no commands defined in the "analyser" namespace"
After doing exactly like in the guide, I get

$ phpcompatinfo analyser:run .

  [InvalidArgumentException]
  There are no commands defined in the "analyser" namespace.

[2017-09-23 19:42] llaville commented on #234
Which version of php compatinfo do you use please ? (and what distrib ? source code, phar / what platform : php / linux / windows / mac ?

if you are on linux , is the result of `which` command expect the location of your phpcompatinfo installation ?

[2017-10-04 15:33] Thefirsh opened #235 "How do I run this on c9?"
Never mind I figured it out.

I had to install PHP as
$ sudo phpbrew install php-5.6.31 +default +dbs +mb +iconv +apxs2=/usr/bin/apxs2

[2017-10-04 18:10] llaville commented on #235
What is related to this project ? Explain

[2017-10-05 10:56] #235 closed

[2017-10-05 10:57] #234 closed

[2017-10-05 11:01] llaville commented on #186
Finally, i've aborted dev of branch 5.1, to a reworks on new major version 6.0

Sniff arch was dropped in profit of simple node visitor patterns. More news will come soon !

[2017-10-05 11:05] llaville commented on #201
Perharps a new hope with major version 6.0. Will see ...

[2017-10-06 15:09] LucasKovacs opened #236 "What's the letter in the fist column?"
Well as the question says, what that letter? What's indicating?

For example I get sometimes 'U', and in some others 'C'.

I went through the user documentation and command documentation and couldn't find what's the meaning of those.

[2017-10-06 15:21] llaville commented on #236
The `U` tells (User) that component came from vendor sources and are not from main project files
The `C`tells (Conditional) that element is found on a conditional code

[2017-10-07 06:25] llaville commented on #236
If we found one of these instructions (see https://github.com/llaville/php-compat-info/blob/master/src/Bartlett/CompatInfo/PhpParser/ConditionalCodeNodeProcessor.php#L45)

[2017-10-10 19:16] #236 closed

[2017-12-01 10:02] glynnforrest opened #237 "Awareness of compatibility packages"
Firstly, thank you for this great tool! I thought I was going to have to write a script to figure out what extensions a project required. I'm glad I can use this tool instead.

Do you think it would be possible for the script to detect usage of 'compat' packages, that bring newer features to older PHP versions?

For example, I have some code that uses `random_bytes()`, introduced in PHP 7. By requ

[2017-12-04 03:47] tivnet opened #238 "empty( self::$x ) reports 5.5.0"
This code runs OK under 5.2, I believe. But it's reported as "5.5.0"

[code]

[2017-12-04 07:58] MatthiasKuehneEllerhold commented on #233
Just for completeness:
Detection of nullable types are also missing (as a indicator for 7.1), but I'm sure you had that on your radar already. :)

[2017-12-04 09:09] slaFFik commented on #238
Example check: https://3v4l.org/V02RW

[2017-12-06 11:05] llaville commented on #238
Fixed in repo, bugfixe release 5.0.9 is on way !
Thanks for reporting.

[2017-12-06 14:14] #238 closed

[2017-12-06 16:54] tivnet commented on #238
@llaville Works OK now, thank you!

[2017-12-08 12:47] ArabCoders opened #239 "bug in parser? [] causes the phpcompatinfot o skip file"
if we use the new list syntax e.g `[$foo,$bar,$baz]` instead of `list($foo,$bar,$baz)` phpcompatinfo bugs out and skip the whole file without notice.

[code]

[code]

[2017-12-09 09:13] llaville commented on #239
Hello, and thanks for reporting

BTW, this [list short syntax](https://wiki.php.net/rfc/short_list_syntax) was implemented in PHP 7.1

I understand that we should not be able to parse code on PHP platform 7.1 or greater with compatinfo 5.0

Be aware that a new major version 6.0 is on way (branch 5.1 was canceled and will be remove in next days). See [note](https://github.com/llaville/php-compat-in

[2017-12-11 12:43] llaville commented on #239
Finally, I've decided to not block installation with plateform 7.1 or 7.2.

Reason: it's not necessary (especially if you want to use other features) and will not solved this issue.

Alternative solution, i've implemented, and will release in next hour, is to check if analyser run on plateform 7.1+ and stop analysis.

That will give a console output error such as

phpCompatInfo 5.0-dev is unable t

[2017-12-11 13:06] remicollet commented on #239
Not true, is able to parse PHP script which requires php < 7.1, which is very different.
I use daily, running php 7.0, 7.1, and 7.2 without any issue.

[2017-12-11 13:30] llaville commented on #239
@remicollet  Perharps the message is not correct.
But if you try to run the source code of this issue, php-parse 2.x raise a syntax error (that is correct, because list short syntax is available since PHP 7.1 ==> https://wiki.php.net/rfc/short_list_syntax). This exception is catched by php-compatinfo, but give an empty result that is not the good way.

I prefer to have an error message (warning) t

[2017-12-11 14:03] llaville commented on #239
@remicollet Perharps this message is more correct

phpCompatInfo 5.0-dev is unable to parse PHP scripts with syntax PHP 7.1 or greater

Your opinion ?

[2017-12-11 14:26] llaville commented on #239
Correction is available at https://github.com/llaville/php-reflect/commit/6469b1edb626ac8a3646b6677b4e55b40d9622c7

[2017-12-11 14:44] remicollet commented on #239
IIUC, current fix proposal make pphcompatinfo unusable.

-1 from me

So properly report such parser error, only in this case

[2017-12-11 14:48] llaville commented on #239
You're right : sprintf syntax was invalid in latest commit : here is the fix https://github.com/llaville/php-reflect/commit/8635309f04c1c97c39a298aca7307326277a2f0e

[2017-12-11 14:50] remicollet commented on #239
still unusable on PHP 7.1+

[2017-12-11 14:54] llaville commented on #239
Please explain in which condition ?

Here is my context of text :

- script to test is the source provided in this issue
- plateform PHP 7.1.12 on windows
- command run
C:\home\github\php-compat-info>\UwAmp\bin\php\php-7.1.12\php bin\phpcompatinfo analyser:run tests\fixtures\gh239.php --no-plugins

phpCompatInfo 5.0-dev is unable to parse PHP scripts with syntax PHP 7.1 or greater

[2017-12-11 14:57] remicollet commented on #239
Please understand me correctly:

1/ I use phpcompatinfo daily with PHP 7.1.12 and 7.2.0: **IT WORKS**

2/ For this very specific case, it the parser fails it should report it

      phpCompatInfo 5.0-dev is unable to parse 'xxxx.php' file

[2017-12-11 15:04] llaville commented on #239
Yes of course i understand.
This message seems a bit too lite. But as we cannot know if php-parser syntax error is due to a platforme constraint or just a normal syntax error status, i'll apply a new fix that reflect point 2/

Thanks for your feedback

[2017-12-11 17:15] llaville commented on #239
New fix will be able to produce errors raised by php-parser

Here is a preview with structure analyser

[code]

Raw output (verbose level 3) preview
[code]
Of course all custom analysers should be revisited to adapt new errors entry  (free to do what you want) !

[2017-12-11 17:31] llaville commented on #239
Fix is now available with 3 commits :

- https://github.com/llaville/php-reflect/commit/74e820406ef0d0ddffe5334162191d2aaef9658f
- https://github.com/llaville/php-reflect/commit/b03bf62fa78654a7d52fd1a8bde1838de93428a4
and revert back with
- https://github.com/llaville/php-reflect/commit/3d1216eb0f395995ce9c9b9d566eb5cb48c1f383

[2017-12-11 17:35] llaville commented on #239
Running on script example, php-compatinfo will output

[code]

Feedback are welcome, before to release new versions (of php-reflect and php-compatinfo)

[2017-12-12 06:07] remicollet commented on #239
LGTM

[2017-12-12 07:20] llaville commented on #239
ok so i'll prepare a new release 4.2.0 for php-reflect and a new release 5.0.10 for php-compatinfo (with reflect constraint raise to 4.2 min)

[2017-12-12 09:11] llaville commented on #239
New versions are now available !

[2017-12-12 09:11] #239 closed

[2018-02-01 09:47] Thefirsh opened #241 "Function imagepng() is seen as requiring PHP 7.1.9"
In the Functions Analysis section, the right column "EXT min/Max PHP min/Max" (why is there a max?) shows 7.1.9, like this:

`imagepng                          1       gd        4.0.0       7.1.9 `

I'm pretty sure that it doesn't require 7.1.9 nor did it get deprecated in 7.2.

[2018-02-01 09:50] remicollet commented on #241
Probably because 7.2 is not yet supported

[2018-02-01 09:54] Thefirsh commented on #241
What's the connection to that particular function? I ran this on the entire project and only that one thing popped out.

[2018-02-01 09:54] remicollet commented on #241
Indeed something looks strange

[code]

[2018-02-01 10:06] remicollet commented on #241
Hmm... don't understand how this "parameters" is supposed to work

Another example, with json_encode

[code]

phpcompatinfo report

* `$a = json_encode($a); `=> 5.2.0 (OK)
* `$a = json_encode($a, $b); `=> 5.2.0 should be 5.3.0
* `$a = json_encode($a, $b, $c);` => 5.2.0 should be 5.5.0

[2018-02-01 10:09] remicollet commented on #241
Forget previous... bad test on my side

[2018-02-01 10:13] remicollet commented on #241
Easy fix

[code]

@Thefirsh it didn't report any max version

[code]
But a bad minimal version.

[2018-02-01 10:30] Thefirsh commented on #241
Thanks. I don't know how it would look like if it were showing a max version, never encountered that. Glad to know it seems like a bug and not my oversight. But how do I apply the fix and where? I installed the phar version using this line: `sudo mv phpcompatinfo-5.0.11.phar /usr/local/bin/phpcompatinfo`

[2018-02-01 20:31] llaville commented on #241
The fix will be include in next release of php-compatinfo-db (1.29.0) that support all elements versions.
Will be soon, because PHP 7.1.14 has just been released.

Later I'll publish a new php-compatinfo version 5.0.12 that will include compatinfo-db 1.29

BTW, current phar version of compatinfo 5.0.11 include DB version 1.26

[2018-02-01 20:46] llaville commented on #241
FIX already avaliable (see https://github.com/llaville/php-compatinfo-db/commit/7e5946e5026dfb103c15ee78ea6e3421632b17ec).

Packages releases will follow !

Thanks to @Thefirsh  for reporting and @remicollet for analysis :)

[2018-02-01 22:32] llaville commented on #241
Versions have just been released !

[2018-02-01 22:32] #241 closed

[2018-07-29 02:41] jrfnl opened #242 "Usage of deprecated `each()` function in current stable release"
When running this package on PHP 7.2, the following deprecation warning is being thrown:

[code]

[2018-07-29 02:45] jrfnl opened #243 "JSON config appears not to be respected"
With the following config in `phpcompatinfo.json`, files with an `.inc` extension are still analysed, even though the `name` entry explicitly demands that only files with a `.php` extension will be scanned.
[code]

[2018-07-29 14:53] llaville commented on #242
Thanks for reporting. Even if support to PHP 7.2 is not warranty !

[2018-07-29 14:59] jrfnl commented on #242
I get that, but as the package is about cross-version compat, it kind of felt like it should lead by example :wink:

[2018-07-29 15:57] llaville commented on #242
Of course, but be aware that this package exists since a long time (and of long time before PHP 7.2).
I warranty compatibility of all versions until 7.1 that is still a great effort. Add support to PHP 7.2 and futur 7.3 will pass by a full rewrite that will also simplify and improve performances.

Just for Information.

[2018-07-30 01:57] jrfnl commented on #242
Respect :+1:

[2018-07-30 11:51] jrfnl commented on #243
The file is located in the root of the project and the project is scanned with `.` as the path. The php files in the project are in subdirectories.

[2018-07-31 20:41] llaville commented on #243
While I analysed this issue, I found that the doc is incomplete. If you want to exclude some files, use "notName" , with same syntax (regexp) as with "name".

see https://github.com/llaville/php-reflect/blob/master/src/Bartlett/Reflect/Api/V3/Common.php#L162

[2018-07-31 20:48] jrfnl commented on #243
@llaville Thanks for getting back to me. I'll give it a try. All the same, I don't "tell" the program to include `inc` files and explicitly tell it to only include `php` files, so, if I change it to `notName: "/\\.inc$/"`, it still doesn't explain why `inc` files were being included in the first place or what other file extensions will be magically included in the scan.

[2018-08-01 05:11] llaville commented on #243
@jrfnl I will investigate deeper. But to resume php-compatinfo config system (use php-reflect base package) is a wrapper to symfony/finder component to file or exclude files.

I've tried to add common symfony features. Perharps I'm wrong: I'll check later today and give you a feedback.

[2018-10-09 13:40] theofidry opened #244 "Upgrade to Box3"
Hi,

Just a word to say you could switch from Box2 to [Box3](https://github.com/humbug/box). I couldn't really find how the PHARs are being built or which version of PHPUnit is used so I did not provide a PR. However I'll be happy to help if you are willing to upgrade. You can see the list of new features on the readme as well as an upgrade guide

[2018-10-09 14:08] llaville commented on #244
Hello Théo,

Life if very funny. Yesterday, I've talked about your project/fork from Original Box2 to a colleague on one of his project. And told him that it will be nice to adopt Box 3 :-)

I mark it on my TODO list. I'm currently working on php-compatinfo-db.

Laurent

[2018-11-18 08:16] llaville opened #245 "Upgrade PHP-Parser to 3.1"
Will depends of PHP-Reflect waiting for it; See https://github.com/llaville/php-reflect/issues/28

[2018-11-18 14:53] llaville commented on #245
PHP7 users should see such dependencies list (on PHP 7.1.24)

[code]

[2018-11-18 14:56] llaville commented on #245
tests are OK and version is ready for a new stable release (unless feedback notice me some issues).

[code]

PHP_CompatInfo 5.1.0 (stable) that will support PHP-Parser 3.1.5 should be release in next 10 days (after PHP_Reflect 4.3.0)

[2018-11-26 10:35] remicollet commented on #245
There is obviously wrong:

This package HAVE NO DEPENDENCY on nikik/php-parser, only

`"bartlett/php-reflect": "^4.2",`

As I already said, **implicit** dependency are terrible bad.

So, using composer, this package will pull PHP_Reflect 4.3.0, so PHP-Parser 3.1.5.
If this package is NOT compatible, you have a real issue.

So ever you have to release 5.0.13 with

[code]
Or release 5.1 ASAP.

[2018-11-26 11:00] remicollet commented on #245
As the only fix seems to be 58fbe64ac9883549e7891e6b59496bb422fed2cc 5.0.12 is already compatible.

BTW, IMHO far better to ad explicit dependency as this package REALLY depends on phpparser, according to compatinfo analysis
[code]

[2018-11-26 13:02] llaville commented on #245
Version 5.1 is planned to be released in next days (this week).   UmlWriter should be release in next hours, and CompatInfo is the next one on my TODO list

[2018-11-26 21:21] llaville commented on #245
FYI: CompatInfo 5.1.0 should be released tomorrow !

[2018-11-27 20:32] llaville commented on #245
@remicollet FYI  https://github.com/llaville/php-compat-info/commit/88e0e6d4b708fab3b5eb2e182c7c6d973b59ca03 about implicit constraint

[2018-11-27 20:54] llaville commented on #244
Commit https://github.com/llaville/php-compat-info/commit/6faabf72313c962adb256c311d1e6bc086ba08de do the job

[2018-11-27 20:56] #244 closed

[2018-11-27 21:13] #245 closed

[2019-02-09 17:50] mayeenulislam opened #246 "Cannot fully understand the Result"
I love the php-compat-info tool. Used it previously on my other plugins.

But recently after running the `phpcompatinfo analyser:run .` command in one of my WordPress plugin (containing third-party libraries), the result appeared is:

I actually can't understand the result.

- If the `v4.4.9` is the max then what are the `v5.3.0` and `v7.0.2`?
- What exactly is the **minimum PHP version requiremen

[2019-02-09 18:27] llaville commented on #246
hello. is your code open sourced ? could i have access to analyse it ?

Normally min version should be lower than max. And full version count all code including conditional that may be optional.

[2019-02-09 19:11] mayeenulislam commented on #246
## Screenshot
![odd-requirements](https://user-images.githubusercontent.com/4551598/52525006-771fc780-2ccd-11e9-95ae-5fd8ac42126e.png)

Actually, the code I tested with, is a premium version of my plugin, is not publicly available.

## New Observation
After your query, I got skeptic too. And retest differently in the same code.

Just cloned the git repo and tested there. It worked just fine, and d

[2019-02-10 10:45] llaville commented on #246
Good analysis report. Thanks!
So we can suspect that node_modules install other php scripts files.
To solve, use a json phpcompatinfo config file and exclude some directories from scan.

[2019-02-10 12:43] #246 closed

[2019-02-21 13:30] remicollet opened #247 "Allow bartlett/php-compatinfo-db 2 ?"
What are the plan to allow new bartlett/php-compatinfo-db version 2 ?
(allowing ^1.25 || ^2.0 will be nice)

Mostly because 1.x doesn't receive any update, so we are sticked on an outdated version.

I understand that some major changes are planed (for 6.0), but nice to have a 5.x update including this.

[2019-02-21 14:21] llaville commented on #247
Hello Remi,
I understand your point of view, and that the situation is a bit complicated. I've less free time, and i prefer to use it to new major versions.
I've a full roadmap with Umlwriter 2.0 (PHP 7.1+) then Reflect 5.0 (PHP 7.1+) then CompatInfo 6.0 (PHP 7.1+ with CompatInfoDb 2.0 PHP 7.1+)

I'll backport CompatInfoDb 2.0 to 1.x in the next week.

[2019-02-22 19:17] llaville commented on #247
PHP-CompatInfo 5.1 will not support PHP-CompatInfo-Db 2

I'll publish in next minutes, version 1.40 synchronised with content of  PHP-CompatInfo-Db 2.1

[2019-02-22 20:19] llaville commented on #247
PHP-CompatInfo-Db 1.40.0 has just been released.
Feel free to close this issue if all is ok for you !

[2019-02-26 14:54] remicollet commented on #247
If php-compatinfo-db 1.x is maintained until Compatininfo v6, that's fine for me

[2019-02-26 14:54] #247 closed

[2019-02-26 15:16] llaville commented on #247
This is what i've in mind, even if i have twice job to do

[2019-04-06 08:33] llaville opened #248 "ROADMAP"
New major version 6.0 will :

- [ ] drop support of PHP 5 for version 6.0
- [ ] remove direct dependency to php-reflect
- [ ] remove undirect dependency to umlwriter

[2019-05-24 03:20] imsheng opened #249 "error"
![image](https://user-images.githubusercontent.com/10435075/58300639-f6b54a80-7e15-11e9-98d2-421272d266fa.png)

windows 10
php 7.2
symfon4 project

[2019-05-24 11:50] llaville commented on #249
This is not an error. Just the expected behaviour. You did not provided source identifier to scan !

[2019-05-25 03:02] imsheng commented on #249
What should I do?
I am operating according to the documentation

[2019-05-25 06:16] llaville commented on #249
When you have such console error. Ask for command help is the first approach

```php phpcompatinfo analyser:run --help```

That will output such results

[code]

You missed to enter the ```<source>``` argument !!!!

For example, if you want to scan `src` folder (with sub-folder), run

```php phpcompatinfo analyser:run src```

[2019-05-25 06:52] #249 closed

[2019-06-01 08:14] llaville commented on #248
Last version of branch 5.x is now 5.2.0 that will :

- [X] be fully compatible PHP 7.2 (removed `each` usage)
- [X] installation is compatible with compatinfo-db 1.x (for PHP 5 users) and compatinfo-db 2.x (for PHP 7 users only)

[2019-06-01 08:31] llaville commented on #248
Version 5.2.0 is both for PHP 5 and PHP 7 users:

Certified by tests.

**5.6**
[code]
**7.1**
[code]
**7.2**
[code]
**7.3**
[code]

[2019-06-01 08:38] llaville commented on #242
@jrfnl With latest version 5.2.0, PHP 7.2 is now supported (removed `each` usage : see commit https://github.com/llaville/php-compat-info/commit/6ec58efb188adbbfd117d33d1bb5f113aace22f8)

5.6 / 7.1 / 7.2 / 7.3 are now all supported - see test reports on [ROADMAP](https://github.com/llaville/php-compat-info/issues/248#issuecomment-497925338)

[2019-06-01 08:39] #242 closed

[2019-06-02 00:41] jrfnl commented on #242
@llaville Great news :+1:

[2019-06-02 06:00] llaville commented on #242
@jrfnl glad you appreciate !

[2019-06-21 20:18] pattisahusiwa opened #250 "ReflectionType is not recognized"
`ReflectionType` is introduced in PHP 7. However, CompatInfo shows that `ReflectionType` is a user defined class.

[code]

Tested on Arch Linux.
[code]

[code]

[2019-06-21 21:42] llaville commented on #250
Thanks for reporting. I'll check this tomorrow.

[2019-06-22 06:52] llaville commented on #250
I've added missing Reflection classes in compatinfo database

- ReflectionClassConstant   7.1.0 alpha1
- ReflectionNamedType       7.1.0 beta3
- ReflectionType            7.0.0 alpha1
- ReflectionGenerator       7.0.0 alpha1

In waiting next release 2.6.0 of CompatInfo Database, that will come shortly in end of month with PHP 7.3.7, you can in the meantime build your DB sqlite file.

Follow instru

[2019-06-24 09:46] pattisahusiwa commented on #250
Thank you. I'll waiting for the next release.

[2019-06-24 09:46] #250 closed

[2019-07-03 11:18] pattisahusiwa commented on #243
Please check this line of code:
https://github.com/llaville/php-reflect/blob/master/src/Bartlett/Reflect/Api/V3/Common.php#L98

When executing `phpcompatinfo analyser:run` without any source, `phpcompatinfo` will complain about it. Therefore, I think `$provider` will always has a value. Hence, the source code inside
```if (!isset($provider)) {``` will not be executed.

I have the same issue, `phpc

[2019-07-25 18:18] llaville commented on #250
@pattisahusiwa FYI: CompatInfo DB 2.6.0 has just been released

[2019-08-13 12:44] DanielRuf opened #251 "missing phar releases after 5.0.12"
It seems the new releases are missing.

[2019-08-15 05:47] llaville commented on #251
Don't think so: did you tried to get it at http://bartlett.laurent-laville.org/get/phpcompatinfo-5.0.12.phar

[2019-08-15 05:48] llaville commented on #251
And latest version is available at http://bartlett.laurent-laville.org/get/phpcompatinfo-5.1.0.phar

[2019-08-15 05:49] llaville commented on #251
Just version 5.2.0 is missing

[2019-08-15 06:51] DanielRuf commented on #251
Right but it seems it is not linked on the website or did I oversee it? "Download latest version" links to 5.0.12.

[2019-08-15 14:21] llaville commented on #251
Right, site http://php5.laurent-laville.org/compatinfo/ was a bit outdated. Github project page https://github.com/llaville/php-compat-info is more up-to-date !

[2019-10-21 11:57] LucasKovacs commented on #251
How can I get the phpcompatinfo-5.2.0.phar file?

[2019-10-21 12:03] DanielRuf commented on #251
Good question =)

[2019-10-21 12:17] LucasKovacs commented on #251
I saw that there's a 5.2.0 release here https://github.com/llaville/php-compat-info/releases, but I don't know how to build that, when I tried it seems that I'm missing many libraries. It's also the only library that detects PHP 7

[2019-10-21 12:29] DanielRuf commented on #251
https://github.com/llaville/php-compat-info/issues/251#issuecomment-521522951

[2019-10-21 12:36] LucasKovacs commented on #251
@llaville can you share the 5.2.0 version? Or explain to us how we can build it from the releases page

[2019-10-21 14:05] llaville commented on #251
I will explain how to do. And build a copy in few hours (tonight for me. French Hours)

[2019-10-21 18:28] llaville commented on #251
To build PHAR distribution, you'll need to get a copy of this project https://github.com/humbug/box

`box.phar compile`  in the php-compat-info project directory will build phar version.

Example:
[code]

PHP CompatInfo 5.2.1 will be release in next minutes now. Sorry documentations are a bit outdated !
I've no time to update-it

[2019-10-21 18:41] llaville commented on #251
5.2.1 has just been released. And phar distribution was built and available to download via project home page

[2019-10-21 18:41] #251 closed

[2019-10-24 12:02] LucasKovacs opened #252 "How to upgrade the DB?"
@llaville

I've successfully installed the newer version of php-compat-info to 5.2.1 but it's still using the DB version 2.x-dev@effa54c.

`phpcompatinfo -V
phpCompatInfo version 5.2.1 DB version 2.x-dev@effa54c built Jun 26 2019 17:35:50 CEST`

How can I upgrade that DB to 2.6.0 referenced here https://github.com/llaville/php-compatinfo-db

I assume that it's the last thing that I am missing sinc

[2019-10-24 17:20] llaville commented on #252
For standard distribution, you just have to update `bartlett/php-compatinfo-db` dependency.

``` composer update bartlett/php-compatinfo-db```
Example:
[code]
And check it with command ```php bin/phpcompatinfo --version```
That give something like
```phpCompatInfo version 5.2.1 DB version 2.6.0 built Jul 25 2019 20:04:40 CEST```

If you want a PHAR distribution, you have to build with procedure ex

[2019-10-24 18:55] LucasKovacs commented on #252
@llaville thanks for your help. I've finally managed to build the .phar with the 2.6 db. Although I think I am missing something. The script still returns PHP 5.6 as the max version which is not possible since I'm using PHP 7.1 code.

`phpCompatInfo version 5.2.1 DB version 2.6.0 built Jul 25 2019 20:04:40 CEST`

[2019-10-24 20:44] llaville commented on #252
Version detection of your code is another subject. So i'll close this thread !

[2019-10-24 20:44] #252 closed

[2019-10-25 08:15] LucasKovacs opened #253 "Version detection issue"
@llaville I'm running version 5.2.1 with 2.6.0 DB. The script still returns PHP 5.6 as the max version which is not possible since I'm using PHP 7.1 specific syntax.

`phpCompatInfo version 5.2.1 DB version 2.6.0 built Jul 25 2019 20:04:40 CEST`

What Am I missing here?

[2019-10-25 16:39] llaville commented on #253
Sorry, but without context (source code analysed) I cannot help you !
If source code is available, please provide a link. If not feel free to close this issue.

[2019-10-28 08:16] #253 closed

[2019-10-29 07:22] LucasKovacs commented on #253
@llaville take any of these files as an example

https://github.com/XGProyect/XG-Proyect-v3.x.x/blob/310-phase-3/src/upload/application/controllers/game/preferences.php

https://github.com/XGProyect/XG-Proyect-v3.x.x/blob/310-phase-3/src/upload/application/core/enumerators/PreferencesEnumerator.php

[2019-10-29 18:56] llaville commented on #253
@LucasKovacs  Yes you're right. PHP-CompatInfo 5.0.x does not support full PHP 7 detection.

Major release 6.0 is supposed to do it, but I need to rewrite it to simplify architecture.
But i need free times, and don't have it actually !

Probably in next months, but I cannot tell you a date

[2019-10-30 19:52] LucasKovacs commented on #253
thanks @llaville will be waiting

[2020-01-02 10:21] remicollet opened #255 "memcache reference is outdated"
[code]

[2020-01-02 10:22] remicollet opened #256 "redis reference is outdated"
[code]

[2020-01-02 10:22] remicollet opened #257 "varnish reference is outdated"
[code]

[2020-01-02 10:23] remicollet opened #258 "opcache reference is outdated"
[code]

[2020-01-06 07:01] #255 closed

[2020-01-06 07:02] #256 closed

[2020-01-06 07:03] #257 closed

[2020-01-06 07:03] #258 closed

[2020-02-25 15:35] remicollet opened #259 "--output options is broken"
[code]

[2020-02-25 15:46] #259 closed

[2020-04-29 01:07] lkrms opened #260 "PHP7 null coalesce operator not detected"
Using code like:

[code]

Should return PHP 7.0 (min), but PHP 5.5.0 is returned on my system (I'm using PHP 7.4).

[2020-04-29 08:13] llaville commented on #260
Fixed with new bugfix release 5.2.2
Thanks for reporting.

[2020-04-29 08:13] #260 closed

[2020-04-29 10:39] lkrms commented on #260
Impressive turnaround. Thank you :)

[2020-06-22 12:48] LeoShivas opened #263 "OCI does not show up in extensions"
I have an application which uses OCI functions as oci_connect, oci_fetch_array, oci_*** etc ...
Theses functions are enabled by the oci8 PHP extension.

Why, when I launch the phpcompatinfo analyser, this PHP extension doesn't show up ?
[code]
Also, why, when I launch the `phpcompatinfo reference:list` command, this PHP extension doesn't show up ?
[code]

Another strange point, the oci_* PHP funct

[2020-06-23 11:00] llaville commented on #263
Thanks for your full report (I appreciate a lot).
As I've limited internet connection for a week, I'll check it in 7 days.

[2020-06-26 17:03] llaville commented on #263
@LeoShivas You're right : oci8 extension is not yet supported by [bartlett/php-compatinfo-db](https://github.com/llaville/php-compatinfo-db) project.
I'll add it and publish soon a new version that will also support PHP 7.3.19 and PHP 7.4.7

[2020-06-27 13:32] llaville commented on #263
@LeoShivas Oci8 support has just been added to [bartlett/php-compatinfo-db](https://github.com/llaville/php-compatinfo-db).

Please test it and report any issue you may find before upcoming next release 2.15 (planned in next days). Thanks !

[2020-06-29 18:29] llaville commented on #263
Without reply, I'll release the new version 2.15 of compatinfo-db in 2 days (July 1st).

[2020-06-29 20:59] LeoShivas commented on #263
@llaville , I'm very glad that you had commited, but I don't master well how I can try your commit.
How can I do ? With Composer ? How ?

I tried this :
[code]

The oci_* functions are stil recognized as 'user' function :
[code]

I think that I certainly misunderstodd how to use your last commit...

[2020-06-30 08:11] llaville commented on #263
1. First install a fresh copy of php-compatinfo

[code]

2. edit your `composer.json` file and add the constaint as follow

[code]

3. update your dependencies with `composer update`

you should have something like
[code]

4. refresh your DB version that is not yet commited in the compatinfo-db repository, by running following command:
[code]

And verify that you have the latest version built / in

[2020-06-30 08:37] LeoShivas commented on #263
@llaville good work !

This is the `compatinfo-db bartlett:db:init` step I missed.

I confirm you code works like a charm :
[code]

And the oci_* functions :
[code]

Thank you very much !

[2020-06-30 08:37] #263 closed

[2020-06-30 11:24] llaville commented on #263
@LeoShivas Thanks for feedback. Official CompatInfo-DB 2.15.0 has just been released !

[2020-07-04 14:09] llaville opened #264 "ROADMAP-v5.3"

[2020-07-04 14:11] llaville commented on #264
New minor version 5.3 will :
- [ ] drop support of PHP 5
- [X] drop support of `bartlett/php-compatinfo-db` 1.x
- [ ] use PHP Reflect 4.4

[2020-07-06 08:58] llaville commented on #264
@remicollet a pre-release of version 5.3.0 is available on branch [5.3](https://github.com/llaville/php-compat-info/tree/5.3)

Like for PHP Reflect 4.4, if you may have a look on it for FEDORA, i'll glad to get your feedback !
I've already tested features and unit tests

[2020-07-06 13:34] remicollet commented on #264
Test build for upcoming bartlett/php-compatinfo 5.3.0 and bartlett/php-reflect 4.4.0

Using phpdocumentor/type-resolver 1.3.0

Testing against PHP 7.2, 7.3, 7.4 and 8.0

Both test suite passes, BUT, don't work

[code]

Looks like it is not compatible with Symfony 4.4 (we don't have 5.0 yet)

[2020-07-06 13:38] remicollet commented on #264
Notice in Symfony code
[code]

So looks like you cannot redefine this method

[2020-07-06 14:39] llaville commented on #264
I confirm and see my error: I used the `Symfony\Contracts\EventDispatcher\EventDispatcherInterface` from `https://github.com/symfony/event-dispatcher-contracts` package that is available since SF 5.0
Backport to be compatible with SF 4.4 was made here at https://github.com/symfony/event-dispatcher/blob/master/EventDispatcherInterface.php#L23

I'll change it : affect php-reflect 4.4

[2020-07-06 15:15] llaville commented on #264
Unit tests OK with Symfony 5.1
[code]

But still a warning (will try to fix), while all feature results are ok

[code]

[2020-07-06 16:04] llaville commented on #264
Fix apply on php-reflect (see my [comment](https://github.com/llaville/php-reflect/issues/38#issuecomment-654322219)) solve the warning.
CompatInfo 5.3.0 will be released in few days after Reflect 4.4 ; Perharps I'll time to add more detection of PHP features with help of nikic/php-parser 4.5 or greater, but it's just a thinking. Current copy of branch 5.3 is a stable PHP 7 compatible version

[2020-07-06 16:15] llaville commented on #264
Unit tests OK with Symfony 4.4
[code]
And all features LGTM

[2020-07-07 15:51] llaville commented on #264
@remicollet FYI branch 5.3 is now ready for upcoming version  5.3.0

I've in mind to push, in next days,  a new branch 5.4 that will be branch 5.3 (version 5.3.0) plus code reorganized into sniff services (some already exists https://github.com/llaville/php-compat-info/tree/master/src/Bartlett/CompatInfo/Sniffs/PHP, but are not yet used by the compatibility analyser).
This branch (5.4) will be a c

[2020-07-08 07:17] llaville commented on #264
Just been released the stable version 5.3.0

[2020-07-09 13:04] #264 closed

[2020-07-09 13:08] llaville opened #266 "ROADMAP-v5.4"
## New minor version 5.4 :

**Must Have**

- [X] removes `jean85/pretty-package-versions` package and handle application version with new strategy (to allows) : composer/git outside world and of course composer installation or git clone repository
- [X] reorganizes **compatibility** analyser to use Sniffs to improve maintainbility
- [X] adds more sniffs to enhance PHP 5/7 features detection
  - [X

[2020-07-09 13:32] llaville opened #267 "Application version strategy"
Since phpCompatInfo 5.3.0, and chatting with @remicollet about version strategy, we can distinguish at least 3 strategies:

1. using `phpCompatInfo` outside of Composer or Git
2. using `phpCompatInfo` with a Composer Installation
3. using `phpCompatInfo` with a Git clone repository

* Strategy **1**:

To override final version number, either change `Bartlett\CompatInfo\Console\Application::VERSION

[2020-07-09 13:56] llaville opened #268 "CompatInfo 5.3.0 is detected as PHP 5.6"
Before phpCompatInfo 5.3.0, we used version 3.x of [nikic/php-parser](https://github.com/nikic/PHP-Parser) package that have PHP bounded context from version 5.2 to 7.2

By upgrading in 5.3.0 to constraint 4.x (4.5.0 or better) the bounded context is now from version 5.2 to 7.4. So we can detect all PHP 5 and 7 features.

When running `analyser:run` command of phpCompatInfo in `src/` folder we get

[2020-07-09 14:03] llaville commented on #268
I've added in all php source scripts the [declare](https://www.php.net/manual/en/control-structures.declare.php) control structure.

Fix will consist to :
- make **compatibility analyser** compatible with Sniff architecture
- adds new `DeclareSniff` to handle ```<?php declare(strict_types=1);``` detection

[2020-07-09 15:12] #268 closed

[2020-07-10 06:43] #267 closed

[2020-07-10 08:28] llaville opened #269 "Anonymous class is detected as PHP 5.4"
When running `analyser:run` command on `tests/fixtures/sniffs/anonymous_classes.php` of phpCompatInfo we get wrong results.

Actual:
```Requires PHP 5.4.0 (min), PHP 5.4.0 (all)```

Expected:
```Requires PHP 7.0.0alpha1 (min), PHP 7.0.0alpha1 (all)```

[2020-07-10 08:55] #269 closed

[2020-07-10 14:20] llaville commented on #233
Removes MS 6.0 because it will be included for upcoming release 5.4 (that is a compromise before full rewrites of v6), using the sniff architecture.

[2020-07-10 14:24] llaville commented on #233
Sorry to be very so long to gave us a fix, but the world health situation give me a chance of free time ;-)

[2020-07-10 14:24] #233 closed

[2020-07-10 14:26] llaville commented on #186
Finally Sniff architecture is kept and gave us a chance to solve the situation !

[2020-07-10 14:27] llaville commented on #186
Will be included in upcoming release 5.4.0 (under active development)

[2020-07-15 14:41] llaville commented on #266
Reorganization of compatibility analyser code to accept sniffs is now acheived to 90%. Should be push to branch 5.4 tomorrow and allows to keep continue to solve issue like #186

[2020-07-16 09:46] llaville commented on #266
Reorganization of compatibility analyser code to accept sniffs is now acheived to 100% (see commit 2e5c720d56eeffc98a2e49d64836dcbdf12ad094)

Unit Tests (upgraded to PHP 7 syntax, see commit 0cfb9f52f65edc2d78fde4448a60e85e4631592d) pass at 100%

Now, a second optimization phase should be apply to extract code and transform to standalone sniff.
Previous phase allowed to reduce compatibility analys

[2020-07-16 09:49] llaville commented on #186
First code reorganization phase is now applied (see https://github.com/llaville/php-compat-info/issues/266#issuecomment-659302135).
Next step is to fix the `KeywordReservedSniff` to solve this issue/report.

[2020-07-17 19:46] szepeviktor opened #270 "Composer Automation to build PHAR distribution"
It is not so easy to get a tool packaged in a PHAR file as you have to know the URL.

`phive install php-compat-info` makes more sense.

https://github.com/phar-io/phive

All you need

- a published GPG key
- the PHAR file uploaded as GitHub release asset
- and the GPG signature (.asc file)

[2020-07-18 05:51] llaville opened #271 "Add Github Actions as CI workflow"

[2020-07-18 05:54] llaville commented on #270
Good idea. Added to the roadmap. But I give a lowest priority to this task and all other additional tasks.
First I want to finish to prepare the first release candidate of next version 5.4 that will enhance PHP 7 features detection

[2020-07-18 15:12] llaville commented on #186
In waiting release of 5.4.0RC1, the current branch 5.4 solved this issue. A `ForbiddenSniff` will be add very soon to complete list of reserved keywords

* https://www.php.net/manual/en/reserved.keywords.php

[2020-07-18 15:12] #186 closed

[2020-07-18 15:19] llaville opened #272 "Reserved Keywords / Forbidden Names detection"
Thanks to @fabiang to introduces the first report to [add a sniff new reserved words in PHP 7](https://github.com/llaville/php-compat-info/issues/186).

This one will complete detection with all other forbidden names :

* https://www.php.net/manual/en/reserved.keywords.php

[2020-07-20 08:12] llaville commented on #272
Differed to next Major version 6.0, because AST could not catch it easily, while it is possible with tokens.

v6.0 will accept either tokens sniff or ast sniff, but v5.4 will be only accept ast sniff.

[2020-07-20 08:14] llaville commented on #186
`ForbiddenSniff` is impossible to be introduces in v5.4 easily. So it's deferred to major version  6.0

[2020-07-22 07:00] llaville commented on #266
Before to continue to integrate Sniffs to detect each single features, I'll rework base code of compatibility analyser to use an OOP mechanism like  Symfony Profiler/Profile/DataCollector

[2020-08-03 15:16] llaville commented on #266
I've begin to rewrite the full documentation in MarkDown format (rather than AsciiDoc).
Elements that I consider stable are the node visitors of the new architecture explained in the [docs](https://github.com/llaville/php-compat-info/tree/5.4/docs) folder.

Code refactoring is still on way, and spliting features by sniffs rather that includes in monolitic `compatibility` analyser.

[2020-08-04 18:07] llaville commented on #266
First issue on `ParentContextVisitor` was fixed with commit https://github.com/llaville/php-compat-info/commit/ffa114689d4f55e9fdd78c6dc51529076dee9f5d.

I've also decided to add part of PHP_Reflect code into CompatInfo Application to make it more decoupled especially for analyser run command. It will allow to make change to CompatInfo without need to release a new PHP_Reflect version.
The code wi

[2020-08-05 07:13] LucasKovacs opened #273 "PHP 7.1 Nullable types not being detected"
**PHP 7.1 nullable types** are not being detected.

For **example**, the following block of code won't be identified as a PHP 7.1 block

[code]

**Currently using:**
version 5.3.0
DB version 2.16.0
Installed via Composer

**Reference:**
https://www.php.net/manual/en/migration71.new-features.php

[2020-08-05 12:15] llaville commented on #273
Thanks for reporting (with details: I appreciate a lot), but the situation is already known !

**To resume**, all versions until 5.3.0 are not yet ready to detect all PHP 7 features.
This is the main goal of future 5.4.0 that will come soon now.

Branch 5.4 is currently under huge refactoring to avoid monolithic architecture (legacy) code, enhance maintainibility, and allow to add easily fix about

[2020-08-05 14:35] llaville commented on #233
@MatthiasKuehneEllerhold I bit late to reply, but you're right it's effectivly on scope and issue #273 referenced it now !

It will be solved and with beta code of version 5.4 that will be available very soon now on repository.

Feedback of incoming v5.4 that will improve PHP 7 detection are of course welcome !

[2020-08-05 14:37] llaville commented on #266
`ReturnTypeDeclarationSniff` must be fixed to solve #273

[2020-08-05 15:28] llaville commented on #273
With test script added by commit e89de39, future 5.4 will give such result :

[code]

[2020-08-05 16:13] llaville commented on #266
There is lot of work to do :
- refactor all remaining `leave` methods (prefixed by **_**) to deactivated code temporary
- and decouple Reflect part from CompatInfo (but this huge work is for v6.0). Currently code added allow to run the `analyser:run` command with compatibility analyser

All commands are not reintegrated, but only the minimum required:

[code]

- fix all unit tests
- and probably l

[2020-08-05 16:14] llaville commented on #273
@LucasKovacs : beta code is up and running in repo (branch 5.4), if you want to test the preview

[2020-08-06 05:59] LucasKovacs commented on #273
@llaville I will give it a try! thanks :)

I was not aware that 5.3  did not have full support

[2020-08-06 08:55] llaville commented on #273
See also commit 58660ad995ca025b7080598354970bc121380d61 that handle parameters type hinting

[2020-08-24 13:43] llaville commented on #266
The release candidate for 5.4 is canceled. As I've received no feedback since the version on branch 5.4 is available and pretty stable, I think its useless to publish an RC.
Final version stable is always planned for September 9.

[2020-08-25 06:53] llaville commented on #273
Will be release in two weeks with official release 5.4.0

[2020-08-25 06:53] #273 closed

[2020-08-26 08:50] llaville commented on #266
Major release 6.0.0 (that should come after 5.4.0) will have a Command Line Interface revisited (and simplified by removing PHP Reflect dependency)
With this goal, i've begin to reduced useless features in API v5 :
- command `analyser:list` was removed
- plugins system was removed
- configuration file `phpcompatinfo.json` and env var ` BARTLETT_SCAN_DIR` and ` BARTLETTRC` were removed

See commit

[2020-09-02 11:41] llaville commented on #243
Thanks to all, but I'll close this issue that won't be fixed, because I've let down JSON config file, in next version 5.4
I've already implemented the new feature (`--config` option) that use the `symfony/dependency-injection` component

[2020-09-02 11:41] #243 closed

[2020-09-09 12:11] llaville opened #274 "Reference Unit Tests must to be fix to improve QA of release 5.4.0"
As the `large` group test cases is not run each time, there are some references not under test.
See following run report

[code]

[2020-09-28 18:53] llaville commented on #266
**Nice to have** tasks will be add in v6.0, not v5.4 (sorry)

Last task to finish is to fix issue #274. I should be able to fix it tomorrow and release v5.4.0 final stable  Wednesday 30 september.

Last chance, if somebody will give a feedback of current version in branch 5.4 / CHANGELOG should up-to-date now !

[2020-09-28 18:55] llaville commented on #270
I want to release the final stable version 5.4 in 2 days now. This task will then be added in v6.0

[2020-09-28 18:59] llaville commented on #271
I want to release the final stable version 5.4 in 2 days now. This task will then be added in v6.0

[2020-09-29 09:00] #274 closed

[2020-09-29 12:31] llaville opened #275 "Missing extension when class name FQN is resolved under user namespace"
With issue #210 running on new version 5.4, I've noticed (and it's normal because it's PHP native behaviour), that class called with new constructor that are not properly defined with namespace import are detected under user namespace.

Here is a concrete example pick from vfsStream v1.6.0 => https://github.com/bovigo/vfsStream/blob/v1.6.0/src/test/php/org/bovigo/vfs/vfsStreamZipTestCase.php#L39
`

[2020-09-29 12:33] llaville commented on #275
Run example with v5.4 when analysing  this file https://github.com/bovigo/vfsStream/blob/v1.6.0/src/test/php/org/bovigo/vfs/vfsStreamZipTestCase.php

[code]

[2020-09-29 14:04] #275 closed

[2020-09-29 15:59] llaville commented on #275
Change with commits  83492c2 and c5254b0  allows to solve situation in such context https://github.com/sebastianbergmann/phpunit/blob/7.5.20/src/Util/Configuration.php#L549
And `php.min` was changed to 4.0.0 with commit 7ed2d57

[2020-10-01 07:56] llaville commented on #266
I'm proud to announce after 3 months of active development that the final release 5.4.0 (stable) is on way !
Will be publish in few minutes now.

[2020-10-01 07:56] #266 closed

[2020-10-02 10:03] remicollet opened #276 "[5.4.0] questions"
* doctrine/cache

this is still in composer.json, but seems it is not used anymore ?

* plugins

seems deprecated ?

* BARTLETTRC from env

seems deprecated (still appear in some file, phar-stub.php and man page) ?

* phpcompatinfo.json

configuration file have disappeared (related to previous) ?

* doctrine/collection

usage in some script, but not required in composer.json ?

[2020-10-02 10:26] remicollet commented on #276
And have strange failure

[code]

Looks like sniff are not loaded... need to dig...

[2020-10-02 10:31] llaville commented on #276
I may investigate for you. But please give me your runtime env and packages versions installed.
I will check on all other points soon

[2020-10-02 10:45] remicollet commented on #276
Any PHP versions (7.2.34, 7.3.23, 7.4.11)

bartlett/php-reflect 4.4.0
bartlett/php-compatinfo-db 2.18.0
symfony 4.4.14
ramsey/uuid 4.1.1
doctrine/collection 1.6.7

[2020-10-02 10:49] remicollet commented on #276
Another question

is monolog still used ?
It is in composer.json, but don't see anything about it

[2020-10-02 10:55] remicollet commented on #276
I also reproduce the same falure from git

[code]

[2020-10-02 11:15] llaville commented on #276
To reply to your first questions => https://github.com/llaville/php-compat-info/issues/276#issue-713502451

composer suggestion (used by php-reflect) => https://github.com/llaville/php-compat-info/blob/master/composer.json#L32

YES no more

OK => will fix it !

no more config file, because we use now the Symfony/Dependency-Injection and configuration with containers
=> https://github.com/llaville/

[2020-10-02 11:21] llaville opened #277 "Clean-up Monolog references"
It is in composer.json, but don't see anything about it

No Monolog is no more requires

[2020-10-02 11:23] llaville opened #278 "Clean-up BARTLETTRC references and MAN page"
seems deprecated (still appear in some file, phar-stub.php and man page) ?

[2020-10-02 11:25] llaville opened #279 "Implicit Composer requirement to doctrine/collection"
dependency requirement in php-reflect that 5.4 still depends on, but you're right with next version I should put it (will fix it)

[2020-10-02 11:34] llaville opened #280 "Tests failure with PHPUnit on version 5.4.0"
[code]

Confirmed. Probably a minor regression since I run last time

[2020-10-02 11:48] #279 closed

[2020-10-02 11:57] #277 closed

[2020-10-02 12:25] remicollet commented on #280
This is not related to PHPUnit 5, same failure with phpunit 8.5 and 9.4

[2020-10-02 12:31] remicollet commented on #280
[code]

[2020-10-02 12:39] #278 closed

[2020-10-02 12:40] llaville commented on #280
I agree

[2020-10-02 12:46] remicollet commented on #276
Thanks for all answers

Closing as test failure are tracked on #280

[2020-10-02 12:46] #276 closed

[2020-10-02 12:59] remicollet opened #281 "[5.4.0] --output doesn't work anymore"
Simple `phpcompatinfo analyser:run src/Bartlett/CompatInfo/Sniffs/ --output /tmp/foo.log --no-ansi` display its report and doesn't populate the `/tmp/foo.log` file

[2020-10-02 13:03] remicollet commented on #276
As not directly used, can be removed.

And, IIUC, it is used by phpreflect command, not by the library used by phpcompatinfo.

[2020-10-02 13:07] remicollet commented on #281
Simple workaround
`phpcompatinfo analyser:run src/Bartlett/CompatInfo/Sniffs/ --no-ansi > /tmp/foo.log `

[2020-10-02 13:29] llaville commented on #276
IIUC ? what is this ?

[2020-10-02 13:30] remicollet commented on #276
IIUC is a quite common acronym for: If I Understand Correctly.

[2020-10-02 13:35] llaville commented on #276
Thanks to clarify it for me (I didn't know). BTW doctrine/cache was already removed in commit 8a43bc730dca776c7274f54b67ff5583f10a867f (issue #279)

[2020-10-02 14:16] llaville commented on #281
`--output` option behaviour has changed. To write result to a local file, you need to specified also `--profile` (it seems ok when I wrote it). See https://github.com/llaville/php-compat-info/blob/5.4.0/src/Bartlett/CompatInfo/Console/CommandFactory.php#L327-L335

When you specify a target file, it writes into this file

[code]
And without naming a target file, it writes a tempory one in `/tmp` fo

[2020-10-02 14:56] llaville commented on #280
**Finally there is only one regression (and I found origin). I'll try to explains.**
The main difficult goal in this version 5.4 was to refactor conditional code handler. Sniff Architecture is simple when I compare it !

The first one is a real regression because the `Expr_ConstFetch` node (of AST : nikic/php-parser) is not computed
==> PHP_EOL constant came with PHP 4.3.10
Not in report of comman

[2020-10-02 15:18] remicollet commented on #280
yes, explanation are enough, as soon as test suite passes in 5.4.1 ;)

[2020-10-02 15:26] llaville commented on #280
I'll fix it tomorrow morning. And give a new chance to find other bugs.
Bugfix 5.4.1 release is scheduled to monday 5 or tuesday 6 (next week)

[2020-10-03 07:16] llaville commented on #280
Commit `ca54cc227566b8d0841543bb7d1e1d77c992f7d8` solve use test case failure 1)

[code]
by implementing `leaveExprConstFetch` method, but it also introduces a new regression with conditional code 3)

[code]

We are confronted in a challlenge ! This use case gh160 is the main reason why we have previously a priority file queue, to proceed first conditional code.
But without priority queue, we don'

[2020-10-03 07:50] llaville commented on #280
While working on code to solve this situation, I realized  that conditional code may be misunderstood and I'll add tomorrow some pages in the document to explains (how I've already dit it in this bug report).
Code patche + documentation will be pushed on reporistory tomorrow !

[2020-10-04 21:11] llaville commented on #280
Still working on code patch, release delayed :(

[2020-10-05 13:21] llaville commented on #280
@remicollet Just finish to test my code refactored to avoid regressions with conditional code. All unit tests PASSED on my side.
I'll push the code fix in master branch in few minutes. I'll wait until tomorrow to see if we can find others issues before to release officially the new 5.4.1
That will let me the time to write a doc page about conditional code !

[2020-10-05 14:07] llaville commented on #280
@remicollet All unit tests PASSED. If you're agree, feel free to close this issue.

[2020-10-05 14:38] remicollet commented on #280
I cannot, this one was open by you ;)

[2020-10-05 16:03] #280 closed

[2020-10-05 16:04] #281 closed

[2020-10-21 06:07] LucasKovacs opened #284 "Errors while running on empty files"
I installed the newest version through composer and when ran it got the following errors

[code]

I removed everything, vendor + .lock file and tried again. Same set of issues

Here's my composer file
[code]
_This composer file used to work fine while on 5.3_

**Details**
- macOS
- PHP 7.4

[2020-10-21 07:23] llaville commented on #284
Hello @LucasKovacs ,
Without source code analysed I can't said nothing, but it seems that you've no AST (node array) provided when I read your error.

If source code analysed is public, please provides a link.

[2020-10-21 15:23] LucasKovacs commented on #284
@llaville source code can be found here

https://github.com/XGProyect/XG-Proyect-v3.x.x/tree/xgp-3.2

[2020-10-22 05:39] llaville commented on #284
Thanks for the link.
I've run analysis on https://github.com/XGProyect/XG-Proyect-v3.x.x/archive/v3.1.0rc.tar.gz asset and got the following report

Of course, there are some Notice but it's about empty files (as I said, no AST built).
I can avoid such issue in  future release !

[code]

[2020-10-22 05:44] LucasKovacs commented on #284
The problem is the fatal at the end, which won't allow the script to continue

[code]

[2020-10-22 06:02] llaville commented on #284
it depends of your platform. As I may produce report, I didn't got such issue.
I suggest you to use the memory_limit = -1 directive

[2020-10-22 19:06] llaville commented on #284
Will finalize the patch and you'll be notified of empty files that has no contents.
In your source code that give

[code]

[2020-10-22 19:16] llaville commented on #284
Files that are no contents (no AST built) are now notified in Errors list of report !

[2020-10-22 19:16] #284 closed

[2020-11-17 14:37] llaville commented on #270
We can also automated creation of phar version at composer project installation or update. What do you think about this solution (easy to implement) ?

[2020-11-17 15:11] szepeviktor commented on #270
We were experimenting with this
https://github.com/villfa/test-phar-gpg/blob/main/.github/workflows/release.yml
but should be done in this order
https://github.com/villfa/test-phar-gpg/commit/5b843d015159a7ff64a6e5418b22b7bf8a92f039#commitcomment-44183629

[2020-11-17 15:18] llaville commented on #270
I'm able to produce a solution (composer based) in next 1 or 2 days.
Just time to let me finish tests on https://github.com/llaville/php-compatinfo-db project for upcoming version 3.0

[2020-11-18 19:10] llaville commented on #270
I've just finished to test POC in php-compatinfo-db project (see https://github.com/llaville/php-compatinfo-db/issues/59)

I'll apply the same fix tomorrow in branch master of php-compatinfo. I'll keep you aware when it will be available !

[2020-11-19 13:49] BenediktAllendorf opened #285 "Errors while running on empty files - phtml"
`PHP Notice:  Undefined offset: 0` appears here: https://github.com/llaville/php-compat-info/blob/master/src/Bartlett/CompatInfo/PhpParser/NodeVisitor/ParentContextVisitor.php#L56

For me, adding an `isset()` check fixed this :)

[2020-11-19 13:53] llaville commented on #285
Please, specify context of execution ?

[2020-11-19 14:06] BenediktAllendorf commented on #285
Sorry, it happens when running `phpcompatinfo analyser:run $dir`

[code]

[2020-11-19 14:14] llaville commented on #285
It's occurs when `$dir` has no valid php files contents (all are empty). Please check-in your data source !

i.e:  with data source (single or multiple files) are empty  `my-empty-data-source.php`
[code]
and run command `bin/phpcompatinfo analyser:run my-empty-data-source.php`
we got
[code]

[2020-11-19 14:25] BenediktAllendorf commented on #285
Yes, almost. I tracked down one notice to a (completely) empty *.phtml file used as a template somewhere else.

Shouldn't that be allowed (and therefore, not throw a notice)? I'm running this on legacy code; there are probably a few more cases like this.

[2020-11-19 14:43] llaville commented on #285
I've already solved/fixed this issue (see #284)
But it was on `*.php` files an not `*.phtml`
Perharps something to fix : yes I found it !

[2020-11-19 14:46] llaville commented on #285
For upcoming bugfix release 5.4.2 with phar distribution automation (#270)

[2020-11-19 14:47] llaville commented on #270
No need to wait major version 6.0; It will come with bugfix release 5.4.2

[2020-11-19 14:55] BenediktAllendorf commented on #285
Ah, sorry I didn't check closed issues before. Thanks for your quick response :+1:

[2020-11-19 14:57] llaville commented on #270
`--manifest` will be removed in v5.4.2 until I find a nice solution to automate process to build metadata in phar (I've already idea, but i need to work on POC)

[2020-11-19 15:17] #270 closed

[2020-11-19 15:36] llaville commented on #285
If source code is open source, can you provide a link;
I've run test again with current code on master branch, and get expected results (solved in #284)

[code]

[2020-11-19 15:39] szepeviktor commented on #270
Thank you.
I've just ran it on itself: `Requires PHP 7.1.0 (min)`

[2020-11-19 15:43] llaville commented on #285
Only 3 extensions are catch : see https://github.com/llaville/php-compat-info/blob/master/src/Bartlett/CompatInfo/Api/V5/SourceProvider.php#L57

[2020-11-19 15:53] szepeviktor opened #286 "Mass method signature mismatch"
Please consider running `phpstan analyze src/ -l 2`

( fastest way to get there: `phive install phpstan` )

Many classes do not match `PhpParser\NodeVisitor`

[2020-11-19 16:07] llaville commented on #286
It's a QA process that will be apply in v6.
I won't spend more time than necessary on v5.4
Anyway thanks for your recommandation

[2020-11-19 19:00] szepeviktor commented on #248
💡 CI can build & sign & upload the PHAR file and the signature too.

[2020-11-20 09:18] llaville commented on #285
@BenediktAllendorf Is the latest version of branch master solve your issue ? Waiting your feedback !

[2020-11-20 10:52] BenediktAllendorf commented on #285
Yes, I just checked and I don't see notices anymore! :)

[2020-11-20 11:33] #285 closed

[2021-01-28 07:39] remicollet opened #292 "Uncaught Error: Object of class PhpParser\Node\UnionType could not be converted to string"
Trying to analyse https://github.com/FriendsOfPHP/proxy-manager-lts

[code]

[2021-01-28 08:05] llaville commented on #292
Could you give your platform context (php and compatinfo version) ?

With PHP 7.2.34 and  `phpCompatInfo version 5.4.2 DB version 2.19.0 built Oct 03 2020 15:01:59 UTC`, I'm able to run analysis on `https://github.com/FriendsOfPHP/proxy-manager-lts/archive/v1.0.3.tar.gz`  source code.

See below
[code]

[2021-01-28 08:15] remicollet commented on #292
PHP 7.4.14 (cli) (built: Jan  5 2021 10:45:06) ( NTS )

phpCompatInfo version 5.4.2 DB version 2.19.0 built Oct 05 2020 09:18:56 CEST

[2021-01-28 08:50] llaville commented on #292
Sorry I cannot reproduced this error.

I've the same results with PHP 7.2.34, 7.3.26, and 7.4.14 (with almost the same dependeny versions installed with Composer except for PHP 7.2 and hoa/* components that are used only by humbug/box)

[2021-02-04 13:51] landy2005 commented on #292
PHP 7.4.14 (cli) (built: Jan 20 2021 22:21:45) ( NTS )
phpCompatInfo version 5.4.2 DB version 2.19.0 built Oct 03 2020 15:01:59 UTC

I get same issue:
[code]

[2021-02-04 15:41] llaville commented on #292
could you precise how you install compatinfo (and what is dependencies installed : composer show command results) and last but not least souce code analysed (where you get it and how installed).
More details will help me to understand the reason of this issue, i cannot reproduced.

[2021-02-04 16:18] landy2005 commented on #292
installed by phpstorm composer update mechanism (added into composer.json):
[code]
updated composer inside phpstorm as `composer update --no-interaction --no-ansi`

[code]

[2021-02-04 18:28] llaville commented on #292
and about source code analysed ? what is the source code ? specific version or a branch ?

[2021-02-04 20:23] landy2005 commented on #292
yah, this is private source of our project.

but available open community source by this link: [observium-ce](http://www.observium.org/observium-community-latest.tar.gz)
I not know if here will same error.

[2021-02-05 08:38] llaville commented on #292
sorry but still cannot reproduced issue. Here are my steps

1. `mkdir test-v54`
2. `cd test-v54`
3. create `composer.json` with following contents
[code]
4. run `composer update` with `Composer version 2.0.8 2020-12-03 17:20:38`
5. `composer show` give me
[code]
**WARNING** Already some differences with your installation
6. get source code ` wget https://github.com/FriendsOfPHP/proxy-manager-lts/a

[2021-02-10 09:49] llaville commented on #286
Commits :
- 1b41515ab0ae07ef1c0591f024349ea46c273f46 fixed phpstan analysis on level 0
- 464b0cf34c8504e66f5d5dd033ad2af770e481ac fixed phpstan analysis on level 1
- e6e87328110810f0eab68571d65f1338a2e414ff  fixed phpstan analysis on level 2
- dce604aa4bb9d6fe3eef124131236e33df4230f5 introduced phpstan config file

[2021-02-10 12:39] szepeviktor commented on #286
https://twitter.com/szepeviktor/status/1359481979092230144 👁️‍🗨️

[2021-02-10 14:28] llaville commented on #286
Feel free to close this issue, if it look good to you !

[2021-02-10 14:49] llaville commented on #292
As I'm not able to reproduce this issue, if one of you @remicollet, @landy2005 can do the change and test for me, to see if it solve the problem.

Replaces https://github.com/llaville/php-compat-info/blob/master/src/Bartlett/CompatInfo/PhpParser/NodeVisitor/VersionResolverVisitor.php#L166-L188
By content of branch 6.0 https://github.com/llaville/php-compat-info/blob/6.0/src/Application/PhpParser/N

[2021-02-10 14:58] remicollet commented on #292
It breaks somewhere else

`Fatal error: Uncaught Error: Object of class PhpParser\Node\UnionType could not be converted to string in /usr/share/php/Bartlett/CompatInfo/PhpParser/NodeVisitor/VersionResolverVisitor.php:115
Stack trace:
#0 /usr/share/php/Bartlett/CompatInfo/PhpParser/NodeVisitor/VersionResolverVisitor.php(88): Bartlett\CompatInfo\PhpParser\NodeVisitor\VersionResolverVisitor->handlePa

[2021-02-10 15:02] remicollet commented on #292
Please try on git snapshot
Source code is very minimal because of the fucking .gitattributes

[2021-02-10 15:25] llaville commented on #292
@remicollet Very strange. I've cloned the proxy-manger project, and run analysis on `src` folder, and got no errors !

[2021-02-10 15:33] szepeviktor commented on #286
Thank you for your work.

[2021-02-10 15:33] #286 closed

[2021-02-10 15:33] remicollet commented on #292
Run it on the top folder to include everything, src, test, bin, ...

[2021-02-10 15:41] llaville commented on #292
Ok got it now, I can reproduce, and I'll investigate.

[2021-02-10 15:41] szepeviktor opened #294 "Method signature inheritance issue"
`AbstractSniffAnalyser::beforeTraverse` has `{@inheritDoc}` and ❗ it works 😃

`PhpParser\NodeVisitor::beforeTraverse` looks like

https://github.com/nikic/PHP-Parser/blob/master/lib/PhpParser/NodeVisitor.php#L7-L18

so we should return `null|Node[]` and phpstan tells us exactly that.

[code]

Adding a `return` statement will resolve this and all other problems of this kind.

[2021-02-11 07:46] llaville commented on #292
@remicollet branch 5.4 is available with fix. Waiting your green light before to release the new bug fix release 5.4.3

[2021-02-11 08:04] llaville commented on #294
Thanks for PR !

[2021-02-11 08:37] llaville commented on #294
on my way to adds return null missing !

[2021-02-11 08:42] szepeviktor commented on #294
# 🚂🚂🚂

[2021-02-11 11:31] #294 closed

[2021-02-12 06:47] llaville commented on #292
Bug fix release 5.4.3 is on way !

[2021-02-12 06:47] #292 closed

[2021-02-15 11:00] remicollet commented on #292
Sorry being late (mostly offline last week, and also this week)

So I confirm 5.4.3 works.

[2021-02-18 15:08] Anandh21 opened #299 "bug"
hi,
I want  to analyse a laravel project.
but when i run php-compat i have this error
Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 20480 bytes) in /vendor/nikic/php-parser/lib/PhpParser/Parser/Php7.php on line 2174

[2021-02-20 06:35] llaville commented on #299
If you can't provide such information, I'll close this issue because without contextual data, I can't help you !

[2021-02-21 12:15] llaville commented on #271
Was introduced with version 5.4.3 or greater : see first job successfull with PHP 8 support (due to humbug/box package)

https://github.com/llaville/php-compat-info/actions/runs/586362526